workflows/lead-finder/test/00_error_handler.json
{
  "name": "[lead-finder-test] WF-00: Error Handler",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "lf-00-0001-0000-000000000001",
      "name": "On Workflow Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "lf-00-a001-0000-000000000001",
              "name": "workflowName",
              "value": "={{ $json.workflow.name }}",
              "type": "string"
            },
            {
              "id": "lf-00-a001-0000-000000000002",
              "name": "workflowId",
              "value": "={{ $json.workflow.id }}",
              "type": "string"
            },
            {
              "id": "lf-00-a001-0000-000000000003",
              "name": "executionId",
              "value": "={{ $json.execution.id }}",
              "type": "string"
            },
            {
              "id": "lf-00-a001-0000-000000000004",
              "name": "errorMessage",
              "value": "={{ $json.execution.error.message }}",
              "type": "string"
            },
            {
              "id": "lf-00-a001-0000-000000000005",
              "name": "lastNode",
              "value": "={{ $json.execution.lastNodeExecuted }}",
              "type": "string"
            },
            {
              "id": "lf-00-a001-0000-000000000006",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "lf-00-a001-0000-000000000007",
              "name": "notifyEmail",
              "value": "vlatko.goljevacki@gmail.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "lf-00-0001-0000-000000000002",
      "name": "Format Error Context"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.notifyEmail }}",
        "subject": "=[lead-finder] ERROR in {{ $json.workflowName }}",
        "emailType": "html",
        "message": "=<h2>Lead Finder — Workflow Error</h2>\n<table style=\"border-collapse:collapse; font-family:sans-serif;\">\n<tr><td style=\"padding:4px 12px; font-weight:bold;\">Workflow</td><td style=\"padding:4px 12px;\">{{ $json.workflowName }}</td></tr>\n<tr><td style=\"padding:4px 12px; font-weight:bold;\">Failing Node</td><td style=\"padding:4px 12px;\">{{ $json.lastNode }}</td></tr>\n<tr><td style=\"padding:4px 12px; font-weight:bold;\">Error</td><td style=\"padding:4px 12px; color:red;\">{{ $json.errorMessage }}</td></tr>\n<tr><td style=\"padding:4px 12px; font-weight:bold;\">Execution ID</td><td style=\"padding:4px 12px;\">{{ $json.executionId }}</td></tr>\n<tr><td style=\"padding:4px 12px; font-weight:bold;\">Time</td><td style=\"padding:4px 12px;\">{{ $json.timestamp }}</td></tr>\n</table>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        440,
        0
      ],
      "id": "lf-00-0001-0000-000000000003",
      "name": "Send Error Email",
      "credentials": {
        "gmailOAuth2": {
          "id": "N7umHi9TIF95z6Mt",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "On Workflow Error": {
      "main": [
        [
          {
            "node": "Format Error Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Context": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": []
}
