workflows/medika-preorders/test/01_orchestrator.json
{
  "name": "[medika-preorders-test] WF-01: Initiator",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1232,
        -320
      ],
      "id": "b1000000-0000-4000-8000-000000000090",
      "name": "Poll Every 5 Minutes"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1-set-001",
              "name": "tokenType",
              "value": "graph_api",
              "type": "string"
            },
            {
              "id": "b1-set-002",
              "name": "emailBatchSize",
              "value": 3,
              "type": "number"
            },
            {
              "id": "b1-set-003",
              "name": "processingBatchSize",
              "value": 1,
              "type": "number"
            },
            {
              "id": "b1-set-004",
              "name": "waitBetweenBatchesSec",
              "value": 3,
              "type": "number"
            },
            {
              "id": "b1-set-005",
              "name": "processEmailWebhookPath",
              "value": "test-process-email",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1472,
        -320
      ],
      "id": "b1000000-0000-4000-8000-000000000091",
      "name": "Config"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "a3WFhbGvOKzV81xE",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1728,
        -320
      ],
      "id": "b1000000-0000-4000-8000-000000000092",
      "name": "WF-00b: Get Token"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $env.MS_GRAPH_MAILBOX_READ_TEST }}/mailFolders/inbox/messages?$filter=isRead eq false&$top={{ $('Config').first().json.emailBatchSize }}&$orderby=receivedDateTime asc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('WF-00b: Get Token').first().json.accessToken }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        -320
      ],
      "id": "b1000000-0000-4000-8000-000000000093",
      "name": "Fetch Email Batch",
      "webhookId": "ecb89380-9fb9-480f-a9df-49fb1fff8ddf",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Unwrap Graph API response { value: [...messages] }\nconst response = $input.first().json;\nconst messages = response.value || [];\n\nif (messages.length === 0) {\n  return [];\n}\n\nreturn messages.map(msg => ({ json: msg }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        -320
      ],
      "id": "b1000000-0000-4000-8000-000000000094",
      "name": "Extract Messages"
    },
    {
      "parameters": {
        "batchSize": "={{ $('Config').first().json.processingBatchSize }}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2560,
        -320
      ],
      "id": "b1000000-0000-4000-8000-000000000095",
      "name": "Batch Emails"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $env.MS_GRAPH_MAILBOX_READ_TEST }}/messages/{{ $json.id }}/move",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('WF-00b: Get Token').first().json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"destinationId\": \"%%MS_FOLDER_PROCESSING_ID%%\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2848,
        -320
      ],
      "id": "b1000000-0000-4000-8000-000000000100",
      "name": "Move to Processing",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:5678/webhook/{{ $('Config').first().json.processEmailWebhookPath }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3088,
        -320
      ],
      "id": "b1000000-0000-4000-8000-000000000111",
      "name": "Trigger Processing",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "amount": "={{ $('Config').first().json.waitBetweenBatchesSec }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3312,
        -320
      ],
      "id": "b1000000-0000-4000-8000-000000000096",
      "name": "Wait 3s",
      "webhookId": "b1000000-0000-4000-8000-000000000097"
    }
  ],
  "connections": {
    "Poll Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-00b: Get Token": {
      "main": [
        [
          {
            "node": "Fetch Email Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Email Batch": {
      "main": [
        [
          {
            "node": "Extract Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Messages": {
      "main": [
        [
          {
            "node": "Batch Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Emails": {
      "main": [
        [],
        [
          {
            "node": "Move to Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Processing": {
      "main": [
        [
          {
            "node": "Trigger Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Processing": {
      "main": [
        [
          {
            "node": "Wait 3s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3s": {
      "main": [
        [
          {
            "node": "Batch Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "WF-00b: Get Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": []
}
