workflows/medika-preorders/test/01b_process_email.json
{
  "name": "[medika-preorders-test] WF-01b: Orchestrator",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-process-email",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        464,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000200",
      "name": "Webhook",
      "webhookId": "process-email-webhook-01b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1b-set-001",
              "name": "tokenType",
              "value": "graph_api",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000150",
      "name": "Set Graph Token Type"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "a3WFhbGvOKzV81xE"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        896,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000151",
      "name": "WF-00b: Get Graph Token"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $env.MS_GRAPH_MAILBOX_READ_TEST }}/messages/{{ $('Webhook').first().json.body.id }}?$expand=attachments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('WF-00b: Get Graph Token').first().json.accessToken }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000152",
      "name": "Fetch Email Raw",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Convert Graph API message with expanded attachments to n8n format\nconst message = $input.first().json;\nconst attachments = message.attachments || [];\nconst binary = {};\n\nfor (let i = 0; i < attachments.length; i++) {\n  const att = attachments[i];\n  if (att.contentBytes) {\n    binary['attachment_' + i] = {\n      data: att.contentBytes,\n      mimeType: att.contentType || 'application/octet-stream',\n      fileName: att.name || 'attachment_' + i,\n      fileSize: att.size || 0\n    };\n  }\n}\n\nconst { attachments: _, ...messageJson } = message;\n\nreturn [{ json: messageJson, binary }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000104",
      "name": "Fetch Email",
      "webhookId": "0926e667-ebba-455c-9d74-eb942ba9b887"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-004",
              "name": "businessCenterDefault",
              "value": "10",
              "type": "string"
            },
            {
              "id": "cfg-005",
              "name": "defaultDiscountPerc",
              "value": 0,
              "type": "number"
            },
            {
              "id": "cfg-006",
              "name": "customersApiPath",
              "value": "/api/Customers2",
              "type": "string"
            },
            {
              "id": "cfg-007",
              "name": "customerCacheTTLHours",
              "value": 24,
              "type": "number"
            },
            {
              "id": "cfg-008",
              "name": "notifyEmail",
              "value": "vlatko.goljevacki@gmail.com,mislav.cotic@gmail.com,vanja.petric@medika.hr",
              "type": "string"
            },
            {
              "id": "cfg-009",
              "name": "errorNotifyEmail",
              "value": "",
              "type": "string"
            },
            {
              "id": "cfg-010",
              "name": "parseHtmlBody",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "cfg-011",
              "name": "aiParsingEnabled",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "cfg-012",
              "name": "tokenType",
              "value": "medika_erp",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1504,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000040",
      "name": "Config"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "a3WFhbGvOKzV81xE"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1728,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000095",
      "name": "WF-00b: Get ERP Token",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1000001-0000-4000-8000-000000000002",
              "name": "senderEmail",
              "value": "={{ $('Fetch Email').first().json.from.emailAddress.address }}",
              "type": "string"
            },
            {
              "id": "c1000001-0000-4000-8000-000000000004",
              "name": "emailSubject",
              "value": "={{ $('Fetch Email').first().json.subject }}",
              "type": "string"
            },
            {
              "id": "c1000001-0000-4000-8000-000000000005",
              "name": "emailId",
              "value": "={{ $('Fetch Email').first().json.id }}",
              "type": "string"
            },
            {
              "id": "c1000001-0000-4000-8000-000000000006",
              "name": "hasAttachments",
              "value": "={{ $('Fetch Email').first().json.hasAttachments }}",
              "type": "boolean"
            },
            {
              "id": "c1000001-0000-4000-8000-000000000007",
              "name": "receivedAt",
              "value": "={{ $('Fetch Email').first().json.receivedDateTime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1984,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000002",
      "name": "Extract Email Metadata"
    },
    {
      "parameters": {
        "jsCode": "// Check binary attachments for XLSX/XLS files\nconst binary = $('Fetch Email').first().binary || {};\nconst binaryKeys = Object.keys(binary);\nlet hasXlsx = false;\nlet xlsxCount = 0;\nconst xlsxFiles = [];\n\n// Order-related keywords in filenames (Croatian + English)\nconst ORDER_KEYWORDS = ['prednarudžba', 'prednarudzba', 'narudžba', 'narudzba', 'narudžbe',\n  'narudžbenica', 'narudzbenica', 'transfer order', 'order', 'prednarudžbe', 'prednarudzbe',\n  'gratis'];\nconst ORDER_PREFIX_RE = /^to[\\s\\-_]/;\n\n// Exclusion patterns — files that are NOT orders\nconst EXCLUSION_PATTERNS = ['za provjeru', 'nalog'];\n\nfor (const key of binaryKeys) {\n  const b = binary[key];\n  const fileName = (b.fileName || '').toLowerCase();\n  const mimeType = (b.mimeType || '').toLowerCase();\n  if (fileName.endsWith('.xlsx') || fileName.endsWith('.xls') ||\n      mimeType.includes('spreadsheetml') || mimeType.includes('ms-excel')) {\n    hasXlsx = true;\n    xlsxCount++;\n    xlsxFiles.push({ key, fileName: b.fileName || key, fileNameLower: fileName });\n  }\n}\n\nfunction isOrderFilename(name) {\n  return ORDER_KEYWORDS.some(kw => name.includes(kw)) || ORDER_PREFIX_RE.test(name);\n}\n\nfunction isExcludedFilename(name) {\n  return EXCLUSION_PATTERNS.some(p => name.includes(p));\n}\n\n// For multi-XLSX: filter to order-eligible files (exclude delivery notes etc.)\nconst orderXlsxFiles = xlsxFiles.filter(f => !isExcludedFilename(f.fileNameLower));\n// If all excluded, fall back to full list to avoid losing all files\nconst finalXlsxFiles = orderXlsxFiles.length > 0 ? orderXlsxFiles : xlsxFiles;\n\n// Legacy: selectedXlsxKey for backward compatibility\nlet selectedXlsxKey = null;\nif (xlsxCount > 1) {\n  for (const f of xlsxFiles) {\n    if (isOrderFilename(f.fileNameLower)) {\n      selectedXlsxKey = f.key;\n      break;\n    }\n  }\n  if (!selectedXlsxKey) selectedXlsxKey = xlsxFiles[0].key;\n} else if (xlsxCount === 1) {\n  selectedXlsxKey = xlsxFiles[0].key;\n}\n\n// Prepare plain-text input for AI classification\nconst emailBody = $('Fetch Email').first().json.body || {};\nconst bodyHtml = emailBody.content || '';\nconst bodyText = bodyHtml.replace(/<[^>]*>/g, '').substring(0, 2000);\nconst subject = $input.first().json.emailSubject || '';\nconst xlsxInfo = xlsxFiles.length > 0 ? '\\n\\nAttached XLSX: ' + xlsxFiles.map(f => f.fileName).join(', ') : '';\nconst aiClassifyInput = 'Subject: ' + subject + '\\n\\nBody:\\n' + bodyText + xlsxInfo;\n\nreturn [{ json: {\n  ...$input.first().json,\n  _hasXlsx: hasXlsx,\n  _xlsxCount: xlsxCount,\n  _xlsxNames: xlsxFiles.map(f => f.fileName),\n  _xlsxFiles: finalXlsxFiles.map(f => ({ key: f.key, fileName: f.fileName })),\n  _selectedXlsxKey: selectedXlsxKey,\n  _aiClassifyInput: aiClassifyInput\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000300",
      "name": "Classify Attachment"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an email classifier for a pharmaceutical company's pre-order mailbox.\nEmails are most often in Croatian but may be in any language — detect the language and interpret accordingly.\n\nDetermine if this email is a NEW pre-order submission or something else\n(complaint, follow-up, inquiry, status request, delivery issue, etc.)\n\nSigns of a valid new pre-order:\n- Contains product lists with quantities\n- Has an XLSX/spreadsheet attachment (strong signal — order data is typically in the file, not the email body)\n- Subject mentions ordering keywords (e.g. Croatian: \"prednarudžba\", \"narudžba\"; English: \"preorder\", \"order\")\n- Straightforward order submission tone\n- \"Gratis\" orders with XLSX attachment are VALID orders (gratis = free promotional items, a standard order type)\n\nSigns of a NON-order:\n- Complaints about undelivered items (e.g. \"neisporučeni\", \"undelivered\")\n- References to a previous order (e.g. \"ponavljam\", \"sent earlier\")\n- Requests for gratis items delivery WITHOUT an XLSX attachment (just asking, no file)\n- Status inquiries or general questions\n- Forwarded correspondence about existing orders\n- Internal replies from company staff (@medika.hr) confirming an order was processed\n  (e.g. \"Ispisano\", \"Napravljeno\", \"Gotovo\", \"Riješeno\" = already handled)\n- HR announcements, newsletters, or administrative notices (e.g. \"Novi član tima\")\n\nReturn ONLY raw JSON, no markdown: {\"isOrder\": true/false, \"reason\": \"brief reason\"}"
            },
            {
              "content": "={{ $json._aiClassifyInput }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2496,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000310",
      "name": "AI: Classify Email",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "KRVpI7DXsh84tzkO",
          "name": "OpenAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst upstream = $('Classify Attachment').first().json;\n\nlet aiText = '';\ntry {\n  aiText = (typeof data.text === 'string' && data.text)\n    || (data.output && data.output.find(o => o.type === 'message')?.content?.[0]?.text)\n    || (data.output && data.output[0]?.content?.[0]?.text)\n    || '';\n} catch (e) {\n  // On AI failure, default to treating as valid order (fail open)\n  return [{ json: { ...upstream, _isValidOrder: true, _classificationReason: 'AI parse error: ' + e.message } }];\n}\n\nlet jsonStr = aiText.trim();\nif (jsonStr.startsWith('```')) {\n  jsonStr = jsonStr.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '');\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  // JSON parse failure — fail open\n  return [{ json: { ...upstream, _isValidOrder: true, _classificationReason: 'JSON parse error' } }];\n}\n\nreturn [{\n  json: {\n    ...upstream,\n    _isValidOrder: parsed.isOrder !== false,  // fail open: only block if explicitly false\n    _classificationReason: parsed.reason || ''\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000311",
      "name": "Parse Classification"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d1000310-0000-4000-8000-000000000001",
              "leftValue": "={{ $json._isValidOrder }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3088,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000312",
      "name": "Is Valid Order?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d1000300-0000-4000-8000-000000000001",
              "leftValue": "={{ $json._hasXlsx }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3312,
        -112
      ],
      "id": "b1000000-0000-4000-8000-000000000301",
      "name": "Has XLSX?"
    },
    {
      "parameters": {
        "jsCode": "// Emit one item per XLSX file for sub-workflow processing\nconst emailMeta = $('Extract Email Metadata').first().json;\nconst config = $('Config').first().json;\nconst classifyData = $('Classify Attachment').first().json;\nconst binary = $('Fetch Email').first().binary || {};\nconst xlsxFiles = classifyData._xlsxFiles || [];\n\nconst items = [];\nfor (let i = 0; i < xlsxFiles.length; i++) {\n  const f = xlsxFiles[i];\n  const itemBinary = {};\n  if (binary[f.key]) {\n    itemBinary.data = binary[f.key];\n  }\n  items.push({\n    json: {\n      config: config,\n      senderEmail: emailMeta.senderEmail,\n      emailSubject: emailMeta.emailSubject,\n      emailId: emailMeta.emailId,\n      receivedAt: emailMeta.receivedAt,\n      businessCenter: config.businessCenterDefault,\n      defaultDiscountPerc: config.defaultDiscountPerc,\n      xlsxFileName: f.fileName,\n      xlsxIndex: i,\n      xlsxTotal: xlsxFiles.length\n    },\n    binary: itemBinary\n  });\n}\n\nif (items.length === 0) {\n  return [{ json: { error: 'No XLSX files to process' } }];\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3568,
        -208
      ],
      "id": "b1000000-0000-4000-8000-000000000020",
      "name": "Emit One Item Per XLSX"
    },
    {
      "parameters": {
        "jsCode": "// Package email body and metadata for WF-08\nconst emailMeta = $('Extract Email Metadata').first().json;\nconst config = $('Config').first().json;\nconst emailBody = $('Fetch Email').first().json.body || {};\n\nreturn [{\n  json: {\n    emailBodyHtml: emailBody.content || '',\n    emailBodyType: emailBody.contentType || 'html',\n    senderEmail: emailMeta.senderEmail,\n    emailSubject: emailMeta.emailSubject,\n    config: config\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3568,
        240
      ],
      "id": "b1000000-0000-4000-8000-000000000302",
      "name": "Prepare Body Parser Input"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "j1ILANN0gjr0c2GF"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3808,
        240
      ],
      "id": "b1000000-0000-4000-8000-000000000303",
      "name": "WF-08: Parse Email Body",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d1000304-0000-4000-8000-000000000001",
              "leftValue": "={{ $json.matched }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4048,
        240
      ],
      "id": "b1000000-0000-4000-8000-000000000304",
      "name": "Body Parse Succeeded?"
    },
    {
      "parameters": {
        "jsCode": "// Build warning/error notification email for admin\n// Includes full original email body and forwards attachments\nconst emailMeta = $('Extract Email Metadata').first().json;\nconst config = $('Config').first().json;\nconst emailBody = $('Fetch Email').first().json.body || {};\nconst originalHtml = emailBody.content || '';\n\n// Detect which error branch\nconst inputData = $input.first().json;\nconst isAiNonOrder = inputData._isValidOrder === false;\n\nlet title, description, errorType;\nif (isAiNonOrder) {\n  errorType = 'not_an_order';\n  title = 'Email klasificiran kao nenarudžba';\n  description = 'AI klasifikator je odredio da ovaj email nije nova prednarudžba. '\n    + 'Razlog: ' + (inputData._classificationReason || 'N/A') + '. '\n    + 'Pregledajte originalni email i po potrebi obradite ručno.';\n} else {\n  errorType = 'no_order_data';\n  title = 'Nisu pronađeni podaci o narudžbi';\n  description = 'Nije pronađen XLSX privitak i nije bilo moguće ekstrahirati podatke o narudžbi iz tijela emaila.';\n}\n\nconst html = '<div style=\"font-family: Arial, sans-serif; max-width: 600px;\">'\n  + '<h2 style=\"color: #d35400;\">' + title + '</h2>'\n  + '<p>' + description + '</p>'\n  + '<table style=\"border-collapse: collapse; width: 100%; margin: 16px 0;\">'\n  + '<tr><td style=\"padding: 8px; border: 1px solid #ddd; font-weight: bold;\">Od</td>'\n  + '<td style=\"padding: 8px; border: 1px solid #ddd;\">' + emailMeta.senderEmail + '</td></tr>'\n  + '<tr><td style=\"padding: 8px; border: 1px solid #ddd; font-weight: bold;\">Predmet</td>'\n  + '<td style=\"padding: 8px; border: 1px solid #ddd;\">' + emailMeta.emailSubject + '</td></tr>'\n  + '<tr><td style=\"padding: 8px; border: 1px solid #ddd; font-weight: bold;\">Primljeno</td>'\n  + '<td style=\"padding: 8px; border: 1px solid #ddd;\">' + emailMeta.receivedAt + '</td></tr>'\n  + '<tr><td style=\"padding: 8px; border: 1px solid #ddd; font-weight: bold;\">Vrsta greške</td>'\n  + '<td style=\"padding: 8px; border: 1px solid #ddd;\">' + errorType + '</td></tr>'\n  + '</table>'\n  + '<h3>Originalni email:</h3>'\n  + '<div style=\"background: #f9f9f9; padding: 12px; border-left: 3px solid #d35400;\">'\n  + originalHtml\n  + '</div>'\n  + '<p style=\"color: #888; margin-top: 16px;\">Email je premješten u mapu Greške. Pregledajte ručno.</p>'\n  + '</div>';\n\n// Encode attachments into JSON (binary gets dropped by downstream Set/Execute nodes)\nconst binary = $('Fetch Email').first().binary || {};\nconst attachments = [];\nfor (const key of Object.keys(binary)) {\n  const b = binary[key];\n  if (b.data) {\n    attachments.push({\n      '@odata.type': '#microsoft.graph.fileAttachment',\n      name: b.fileName || key,\n      contentType: b.mimeType || 'application/octet-stream',\n      contentBytes: b.data\n    });\n  }\n}\n\n// Build complete sendMail payload\nconst subject = '[Medika] ' + title + ' - ' + emailMeta.emailSubject;\nconst message = {\n  subject,\n  body: { contentType: 'HTML', content: html },\n  toRecipients: (config.notifyEmail || '').split(',').map(e => ({ emailAddress: { address: e.trim() } }))\n};\nif (attachments.length > 0) {\n  message.attachments = attachments;\n}\n\nreturn [{\n  json: {\n    sendMailPayload: { message },\n    errorType: errorType,\n    moveToError: true\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4288,
        160
      ],
      "id": "b1000000-0000-4000-8000-000000000305",
      "name": "Build Warning Email"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1b-ste-001",
              "name": "tokenType",
              "value": "graph_api",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4528,
        160
      ],
      "id": "b1000000-0000-4000-8000-000000000163",
      "name": "Set Token (Error)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "a3WFhbGvOKzV81xE"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4784,
        160
      ],
      "id": "b1000000-0000-4000-8000-000000000164",
      "name": "WF-00b: Refresh Token (Error)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $env.MS_GRAPH_MAILBOX_SEND_TEST }}/sendMail",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('WF-00b: Refresh Token (Error)').first().json.accessToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Build Warning Email').first().json.sendMailPayload) }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5040,
        160
      ],
      "id": "b1000000-0000-4000-8000-000000000306",
      "name": "Send Warning Email",
      "webhookId": "2c2a1db2-19a6-45a4-b752-e5dca40bdb71",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "b1b-move-001",
              "leftValue": "={{ $('Build Warning Email').first().json.moveToError }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5280,
        160
      ],
      "id": "b1000000-0000-4000-8000-000000000410",
      "name": "Should Move to Error?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $env.MS_GRAPH_MAILBOX_READ_TEST }}/messages/{{ $('Extract Email Metadata').first().json.emailId }}/move",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('WF-00b: Refresh Token (Error)').first().json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"destinationId\": \"%%MS_FOLDER_ERROR_ID%%\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5536,
        160
      ],
      "id": "b1000000-0000-4000-8000-000000000072",
      "name": "Move to Error",
      "webhookId": "fcc63d92-044d-45e8-870d-699d33661036",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Consolidate data for WF-09 — body parse path (no XLSX)\nconst parseResult = $input.first().json;\nconst emailMeta = $('Extract Email Metadata').first().json;\nconst config = $('Config').first().json;\nconst erpToken = $('WF-00b: Get ERP Token').first().json.accessToken;\nconst emailBody = $('Fetch Email').first().json.body || {};\nconst binary = $('Fetch Email').first().binary || {};\n\nreturn [{\n  json: {\n    ...parseResult,\n    emailId: emailMeta.emailId,\n    senderEmail: emailMeta.senderEmail,\n    emailSubject: emailMeta.emailSubject,\n    receivedAt: emailMeta.receivedAt,\n    config: config,\n    accessToken: erpToken,\n    emailBody: emailBody,\n    emailBodyHtml: emailBody.content || ''\n  },\n  binary: binary\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4288,
        352
      ],
      "name": "Prepare Order Input (Body)",
      "id": "c45c5108-df00-4005-bd0f-0947156bec33"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "DpdMh7gSlEVdcCms"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4528,
        352
      ],
      "name": "WF-09: Process Order (Body)",
      "id": "5af00c4c-4975-45c4-99d8-7dbde87a3238"
    },
    {
      "parameters": {
        "jsCode": "// Add ERP token and email body to each XLSX item for WF-01c\nconst erpToken = $('WF-00b: Get ERP Token').first().json.accessToken;\nconst emailBody = $('Fetch Email').first().json.body || {};\n\nconst items = $input.all();\nfor (const item of items) {\n  item.json.accessToken = erpToken;\n  item.json.emailBody = emailBody;\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3808,
        -208
      ],
      "name": "Enrich Items",
      "id": "9151106c-352d-4614-b5ef-beae30d7a052"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "gUTRvGvSrGQcX023"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4048,
        -208
      ],
      "name": "WF-01c: Process Attachments",
      "alwaysOutputData": true,
      "id": "9618582e-4e5b-4837-9565-42cb575177b8",
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Graph Token Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Graph Token Type": {
      "main": [
        [
          {
            "node": "WF-00b: Get Graph Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-00b: Get Graph Token": {
      "main": [
        [
          {
            "node": "Fetch Email Raw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Email Raw": {
      "main": [
        [
          {
            "node": "Fetch Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Email": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "WF-00b: Get ERP Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-00b: Get ERP Token": {
      "main": [
        [
          {
            "node": "Extract Email Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email Metadata": {
      "main": [
        [
          {
            "node": "Classify Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Attachment": {
      "main": [
        [
          {
            "node": "AI: Classify Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Classify Email": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification": {
      "main": [
        [
          {
            "node": "Is Valid Order?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid Order?": {
      "main": [
        [
          {
            "node": "Has XLSX?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Warning Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has XLSX?": {
      "main": [
        [
          {
            "node": "Emit One Item Per XLSX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Body Parser Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emit One Item Per XLSX": {
      "main": [
        [
          {
            "node": "Enrich Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Body Parser Input": {
      "main": [
        [
          {
            "node": "WF-08: Parse Email Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-08: Parse Email Body": {
      "main": [
        [
          {
            "node": "Body Parse Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Body Parse Succeeded?": {
      "main": [
        [
          {
            "node": "Prepare Order Input (Body)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Warning Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Order Input (Body)": {
      "main": [
        [
          {
            "node": "WF-09: Process Order (Body)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Warning Email": {
      "main": [
        [
          {
            "node": "Set Token (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Token (Error)": {
      "main": [
        [
          {
            "node": "WF-00b: Refresh Token (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-00b: Refresh Token (Error)": {
      "main": [
        [
          {
            "node": "Send Warning Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Warning Email": {
      "main": [
        [
          {
            "node": "Should Move to Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Move to Error?": {
      "main": [
        [
          {
            "node": "Move to Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Items": {
      "main": [
        [
          {
            "node": "WF-01c: Process Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": []
}
