workflows/medika_preorder_06_order_submitter.json
{
  "name": "[medika-preorders] WF-06: Order Submitter",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        224,
        -304
      ],
      "id": "f6000000-0000-4000-8000-000000000001",
      "name": "Sub-Workflow Input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6-cfg-001",
              "name": "erpApiUrl",
              "value": "={{ $env.MEDIKA_ERP_URL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        -304
      ],
      "id": "f6000000-0000-4000-8000-000000000025",
      "name": "Config"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "LWeqg7YdOmpQWQP6"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        768,
        -304
      ],
      "id": "f6000000-0000-4000-8000-000000000026",
      "name": "WF-00b: Get Token",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Build Medika SaveTransferOrder request payload\nconst input = $('Sub-Workflow Input').first().json;\nconst config = input.config || {};\nconst lines = input.validatedLines || [];\n\nconst submittableLines = lines.filter(l => l.articleId && l.valid !== false);\nconst skippedLines = lines.filter(l => !l.articleId || l.valid === false);\n\nconst orderPayload = {\n  BusinessCenter: input.businessCenter || config.businessCenterDefault || '10',\n  Customer: input.customer || '',\n  DeliveryPlace: input.deliveryPlace || '',\n  CustomerOrderNumber: 'MP-' + (input.emailId || '').substring(0, 8) + '-' + Date.now(),\n  CustomerOrderDate: (input.receivedAt || new Date().toISOString()).split('T')[0],\n  Text: input.emailSubject || 'Prednarudžba',\n  Items: submittableLines.map(line => ({\n    ArticleID: String(line.articleId),\n    ArticleDescCustomer: line.articleName || '',\n    Quantity: parseFloat(line.quantity) || 0,\n    DiscountPerc: parseFloat(line.discountPerc) || 0.0,\n    Message: line.notes || ''\n  }))\n};\n\nreturn [{\n  json: {\n    config: config,\n    accessToken: $('WF-00b: Get Token').first().json.accessToken,\n    orderPayload: orderPayload,\n    submittedLineCount: submittableLines.length,\n    skippedLineCount: skippedLines.length,\n    skippedLines: skippedLines\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -304
      ],
      "id": "f6000000-0000-4000-8000-000000000002",
      "name": "Build API Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.erpApiUrl }}/api/SaveTransferOrder",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.orderPayload) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        -304
      ],
      "id": "f6000000-0000-4000-8000-000000000003",
      "name": "Submit Order to API"
    },
    {
      "parameters": {
        "jsCode": "// Process Medika SaveTransferOrder response\nconst apiResponse = $input.first().json;\nconst buildResult = $('Build API Payload').first().json;\n\nreturn [{\n  json: {\n    submitted: true,\n    orderId: apiResponse.OrderID || null,\n    status: apiResponse.Status || null,\n    statusText: apiResponse.Status === 1 ? 'Received' : apiResponse.Status === 2 ? 'In process' : apiResponse.Status === 3 ? 'Processed' : 'Unknown',\n    customerOrderNumber: apiResponse.CustomerOrderNumber || buildResult.orderPayload.CustomerOrderNumber,\n    submittedLineCount: buildResult.submittedLineCount,\n    skippedLineCount: buildResult.skippedLineCount,\n    apiResponse: apiResponse,\n    submittedAt: new Date().toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        -304
      ],
      "id": "f6000000-0000-4000-8000-000000000004",
      "name": "Process API Response"
    },
    {
      "parameters": {
        "jsCode": "// DRY RUN: Preview the exact HTTP request that would be sent to the API\nconst input = $input.first().json;\nconst config = input.config || {};\nconst apiUrl = ($('Config').first().json.erpApiUrl || '') + '/api/SaveTransferOrder';\n\nreturn [{\n  json: {\n    _mode: 'DRY_RUN',\n    _note: 'This is a preview of the API request. No actual call was made.',\n    request: {\n      method: 'POST',\n      url: apiUrl,\n      headers: {\n        'Content-Type': 'application/json',\n        'Authorization': 'Bearer ' + (input.accessToken ? input.accessToken.substring(0, 20) + '...' : '(no token)')\n      },\n      body: input.orderPayload\n    },\n    summary: {\n      submittedLineCount: input.submittedLineCount,\n      skippedLineCount: input.skippedLineCount,\n      skippedLines: input.skippedLines,\n      customerOrderNumber: input.orderPayload.CustomerOrderNumber,\n      customer: input.orderPayload.Customer,\n      deliveryPlace: input.orderPayload.DeliveryPlace,\n      itemCount: (input.orderPayload.Items || []).length\n    },\n    submitted: true,\n    orderId: 'DRY-RUN-' + Date.now(),\n    submittedAt: new Date().toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        0
      ],
      "id": "f6000000-0000-4000-8000-000000000020",
      "name": "Preview API Request (DRY RUN)"
    }
  ],
  "connections": {
    "Sub-Workflow Input": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "WF-00b: Get Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-00b: Get Token": {
      "main": [
        [
          {
            "node": "Build API Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build API Payload": {
      "main": [
        [
          {
            "node": "Submit Order to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Order to API": {
      "main": [
        [
          {
            "node": "Process API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": []
}
