workflows/medika_preorder_05_approval_gate.json
{
  "name": "[medika-preorders] WF-05: Approval Gate",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "f5000000-0000-4000-8000-000000000001",
      "name": "Sub-Workflow Input"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build HTML summary for approval email\nconst input = $input.first().json;\nconst lines = input.validatedLines || [];\nconst summary = input.matchSummary || { exact: 0, probable: 0, unmatched: 0 };\nconst senderEmail = input.senderEmail || 'unknown';\nconst emailSubject = input.emailSubject || 'N/A';\n\nlet html = `<h2>Pre-Order Approval Required</h2>`;\nhtml += `<p><strong>From:</strong> ${senderEmail}<br>`;\nhtml += `<strong>Subject:</strong> ${emailSubject}<br>`;\nhtml += `<strong>Lines:</strong> ${lines.length} | `;\nhtml += `<strong>Exact:</strong> ${summary.exact} | `;\nhtml += `<strong>Probable:</strong> ${summary.probable} | `;\nhtml += `<strong>Unmatched:</strong> ${summary.unmatched}</p>`;\n\nhtml += `<table border=\"1\" cellpadding=\"5\" cellspacing=\"0\" style=\"border-collapse:collapse;font-size:13px;\">`;\nhtml += `<tr style=\"background:#f0f0f0;\"><th>#</th><th>Drug Code</th><th>Article Name</th><th>Qty</th><th>Unit</th><th>Match</th><th>Method</th></tr>`;\n\nfor (let i = 0; i < lines.length; i++) {\n  const line = lines[i];\n  const bgColor = line.matchStatus === 'UNMATCHED' ? '#ffe0e0' :\n                  line.matchStatus === 'PROBABLE_MATCH' ? '#fff3cd' :\n                  line.parseMethod === 'AI_EXTRACTED' ? '#e0e7ff' : '#e0ffe0';\n\n  html += `<tr style=\"background:${bgColor};\">`;\n  html += `<td>${i + 1}</td>`;\n  html += `<td>${line.drugCode || '-'}</td>`;\n  html += `<td>${line.articleName || '-'}</td>`;\n  html += `<td>${line.quantity}</td>`;\n  html += `<td>${line.unit || 'kom'}</td>`;\n  html += `<td>${line.matchStatus}</td>`;\n  html += `<td>${line.parseMethod || '-'}</td>`;\n  html += `</tr>`;\n}\nhtml += `</table>`;\n\nif (summary.unmatched > 0) {\n  html += `<p style=\"color:red;\"><strong>Warning:</strong> ${summary.unmatched} line(s) could not be matched in the drug registry.</p>`;\n}\n\nconst aiLines = lines.filter(l => l.parseMethod === 'AI_EXTRACTED');\nif (aiLines.length > 0) {\n  html += `<p style=\"color:#3b5998;\"><strong>Note:</strong> ${aiLines.length} line(s) were extracted by AI and should be reviewed carefully (highlighted in blue).</p>`;\n}\n\nreturn [{\n  json: {\n    ...input,\n    approvalHtml: html\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0],
      "id": "f5000000-0000-4000-8000-000000000002",
      "name": "Build Approval Summary"
    },
    {
      "parameters": {
        "sendTo": "={{ $vars.MEDIKA_PREORDERS_APPROVAL_NOTIFY_EMAIL }}",
        "subject": "=Pre-Order Approval: {{ $json.senderEmail }} ({{ $json.lineCount }} lines)",
        "message": "={{ $json.approvalHtml }}<br><br><p><strong><a href=\"{{ $resumeWebhookUrl }}\">Click here to review and approve/reject this order</a></strong></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [480, 0],
      "id": "f5000000-0000-4000-8000-000000000003",
      "name": "Send Approval Email",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "",
          "name": "Medika Preorders - Microsoft Outlook"
        }
      }
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Pre-Order Approval",
        "formDescription": "Review the order details sent via email and make a decision.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Decision",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "Approve" },
                  { "option": "Reject" },
                  { "option": "Request Changes" }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Comments",
              "fieldType": "textarea",
              "requiredField": false
            }
          ]
        },
        "options": {
          "responseMode": "lastNode"
        }
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [720, 0],
      "id": "f5000000-0000-4000-8000-000000000004",
      "name": "Wait for Approval"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Combine the approval decision with the original order data\nconst formData = $input.first().json;\nconst decision = (formData.Decision || formData.decision || '').trim();\nconst comments = formData.Comments || formData.comments || '';\n\n// Get order data from the Build Approval Summary node\nconst orderData = $('Build Approval Summary').first().json;\n\nreturn [{\n  json: {\n    decision: decision,\n    comments: comments,\n    approved: decision === 'Approve',\n    rejected: decision === 'Reject',\n    changesRequested: decision === 'Request Changes',\n    decidedAt: new Date().toISOString(),\n    validatedLines: orderData.validatedLines,\n    matchSummary: orderData.matchSummary,\n    senderEmail: orderData.senderEmail,\n    emailSubject: orderData.emailSubject,\n    lineCount: orderData.lineCount\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 0],
      "id": "f5000000-0000-4000-8000-000000000005",
      "name": "Process Decision"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f5000000-cond-4000-8000-000000000001",
              "leftValue": "={{ $json.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 0],
      "id": "f5000000-0000-4000-8000-000000000006",
      "name": "Approved?"
    }
  ],
  "connections": {
    "Sub-Workflow Input": {
      "main": [
        [
          {
            "node": "Build Approval Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Approval Summary": {
      "main": [
        [
          {
            "node": "Send Approval Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Approval Email": {
      "main": [
        [
          {
            "node": "Wait for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Approval": {
      "main": [
        [
          {
            "node": "Process Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Decision": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "medika-preorders"
    }
  ]
}
