workflows/medika_preorder_05_approval_gate.json
{
  "name": "[medika-preorders] WF-05: Approval Gate",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "f5000000-0000-4000-8000-000000000001",
      "name": "Sub-Workflow Input"
    },
    {
      "parameters": {
        "jsCode": "// Build HTML summary for approval email\nconst input = $input.first().json;\nconst lines = input.validatedLines || [];\nconst summary = input.summary || { valid: 0, invalid: 0, warnings: 0 };\nconst senderEmail = input.senderEmail || 'unknown';\nconst emailSubject = input.emailSubject || 'N/A';\n\nlet html = `<h2>Pre-Order Approval Required</h2>`;\nhtml += `<p><strong>From:</strong> ${senderEmail}<br>`;\nhtml += `<strong>Subject:</strong> ${emailSubject}<br>`;\nhtml += `<strong>Lines:</strong> ${lines.length} | `;\nhtml += `<strong>Valid:</strong> ${summary.valid} | `;\nhtml += `<strong>Invalid:</strong> ${summary.invalid} | `;\nhtml += `<strong>With Warnings:</strong> ${summary.warnings}</p>`;\n\nhtml += `<table border=\"1\" cellpadding=\"5\" cellspacing=\"0\" style=\"border-collapse:collapse;font-size:13px;\">`;\nhtml += `<tr style=\"background:#f0f0f0;\"><th>#</th><th>Pharmacy ID</th><th>Pharmacy</th><th>Customer ID</th><th>Article ID</th><th>Article Name</th><th>Qty</th><th>Unit</th></tr>`;\n\nfor (let i = 0; i < lines.length; i++) {\n  const line = lines[i];\n  const bgColor = !line.valid ? '#ffe0e0' :\n                  line.warnings && line.warnings.length > 0 ? '#fff3cd' :\n                  line.parseMethod === 'AI_EXTRACTED' ? '#e0e7ff' : '#e0ffe0';\n\n  html += `<tr style=\"background:${bgColor};\">`;\n  html += `<td>${i + 1}</td>`;\n  html += `<td>${line.pharmacyId || line.deliveryPlace || '-'}</td>`;\n  html += `<td>${line.pharmacyName || line.deliveryPlaceName || '-'}</td>`;\n  html += `<td>${line.customer || '-'}</td>`;\n  html += `<td>${line.articleId || line.drugCode || '-'}</td>`;\n  html += `<td>${line.articleName || '-'}</td>`;\n  html += `<td>${line.quantity}</td>`;\n  html += `<td>${line.unit || 'kom'}</td>`;\n  html += `</tr>`;\n}\nhtml += `</table>`;\n\nif (summary.invalid > 0) {\n  html += `<p style=\"color:red;\"><strong>Warning:</strong> ${summary.invalid} line(s) have validation errors and will be skipped.</p>`;\n}\n\nconst aiLines = lines.filter(l => l.parseMethod === 'AI_EXTRACTED');\nif (aiLines.length > 0) {\n  html += `<p style=\"color:#3b5998;\"><strong>Note:</strong> ${aiLines.length} line(s) were extracted by AI and should be reviewed carefully (highlighted in blue).</p>`;\n}\n\nreturn [{\n  json: {\n    ...input,\n    approvalHtml: html\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "f5000000-0000-4000-8000-000000000002",
      "name": "Build Approval Summary"
    },
    {
      "parameters": {
        "toRecipients": "vlatko.goljevacki@gmail.com",
        "subject": "=Pre-Order Approval: {{ $json.senderEmail }} ({{ $json.lineCount }} lines)",
        "bodyContent": "={{ $json.approvalHtml + '<br><p><a href=\"' + $execution.resumeFormUrl + '\" style=\"display:inline-block;padding:12px 24px;background:#2563eb;color:#fff;text-decoration:none;border-radius:6px;font-weight:bold;\">Review &amp; Approve</a></p>' }}",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "f5000000-0000-4000-8000-000000000003",
      "name": "Send Approval Email",
      "webhookId": "05bbe895-40bc-4728-9962-34a8c43fab61",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "jzzDNHXRz5JAGlpl",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Pre-Order Approval",
        "formDescription": "Review the order details sent via email and make a decision.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Decision",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Approve"
                  },
                  {
                    "option": "Reject"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Comments",
              "fieldType": "textarea"
            }
          ]
        },
        "limitWaitTime": true,
        "limitType": "afterTimeInterval",
        "resumeAmount": 24,
        "resumeUnit": "hours",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        720,
        0
      ],
      "id": "f5000000-0000-4000-8000-000000000004",
      "name": "Wait for Approval",
      "webhookId": "e62f2841-4048-47c3-8671-f91fd717b2c2"
    },
    {
      "parameters": {
        "jsCode": "// Combine the approval decision with the original order data\nconst formData = $input.first().json;\n\n// If Wait node timed out, formData won't have Decision field\nconst isTimeout = !formData.Decision && !formData.decision;\nconst decision = isTimeout ? 'Timeout' : (formData.Decision || formData.decision || '').trim();\nconst comments = isTimeout ? 'Auto-rejected: approval timeout (24h)' : (formData.Comments || formData.comments || '');\n\n// Get order data from the Build Approval Summary node\nconst orderData = $('Build Approval Summary').first().json;\n\nreturn [{\n  json: {\n    decision: decision,\n    comments: comments,\n    approved: decision === 'Approve',\n    rejected: decision === 'Reject' || isTimeout,\n    timedOut: isTimeout,\n    decidedAt: new Date().toISOString(),\n    config: orderData.config,\n    validatedLines: orderData.validatedLines,\n    summary: orderData.summary,\n    senderEmail: orderData.senderEmail,\n    emailSubject: orderData.emailSubject,\n    emailId: orderData.emailId,\n    receivedAt: orderData.receivedAt,\n    customer: orderData.customer,\n    deliveryPlace: orderData.deliveryPlace,\n    businessCenter: orderData.businessCenter,\n    lineCount: orderData.lineCount\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        0
      ],
      "id": "f5000000-0000-4000-8000-000000000005",
      "name": "Process Decision"
    }
  ],
  "connections": {
    "Sub-Workflow Input": {
      "main": [
        [
          {
            "node": "Build Approval Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Approval Summary": {
      "main": [
        [
          {
            "node": "Send Approval Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Approval Email": {
      "main": [
        [
          {
            "node": "Wait for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Approval": {
      "main": [
        [
          {
            "node": "Process Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": []
}