workflows/medika_preorder_01_orchestrator.json
{
  "name": "[medika-preorders] WF-01: Orchestrator",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        16
      ],
      "id": "b1000000-0000-4000-8000-000000000090",
      "name": "Poll Every Minute"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-001",
              "name": "erpApiUrl",
              "value": "={{ $env.MEDIKA_ERP_URL }}",
              "type": "string"
            },
            {
              "id": "cfg-002",
              "name": "erpUsername",
              "value": "={{ $env.MEDIKA_ERP_USERNAME }}",
              "type": "string"
            },
            {
              "id": "cfg-003",
              "name": "erpPassword",
              "value": "={{ $env.MEDIKA_ERP_PASSWORD }}",
              "type": "string"
            },
            {
              "id": "cfg-004",
              "name": "businessCenterDefault",
              "value": "10",
              "type": "string"
            },
            {
              "id": "cfg-005",
              "name": "defaultDiscountPerc",
              "value": "0",
              "type": "number"
            },
            {
              "id": "cfg-006",
              "name": "customersApiPath",
              "value": "/api/Customers2",
              "type": "string"
            },
            {
              "id": "cfg-007",
              "name": "customerCacheTTLHours",
              "value": "24",
              "type": "number"
            },
            {
              "id": "cfg-008",
              "name": "approvalNotifyEmail",
              "value": "",
              "type": "string"
            },
            {
              "id": "cfg-009",
              "name": "errorNotifyEmail",
              "value": "",
              "type": "string"
            },
            {
              "id": "cfg-010",
              "name": "parseHtmlBody",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "cfg-011",
              "name": "aiParsingEnabled",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        16
      ],
      "id": "b1000000-0000-4000-8000-000000000040",
      "name": "Config"
    },
    {
      "parameters": {
        "jsCode": "// Check static data for a valid (non-expired) ERP token\nconst staticData = $getWorkflowStaticData('global');\n\nif (staticData.erpToken && staticData.erpTokenExpiresAt) {\n  const bufferMs = 5 * 60 * 1000;\n  if (Date.now() < (staticData.erpTokenExpiresAt - bufferMs)) {\n    return [{ json: { erpToken: staticData.erpToken, tokenCacheHit: true }, binary: $input.first().binary }];\n  }\n}\n\nreturn [{ json: { erpToken: null, tokenCacheHit: false }, binary: $input.first().binary }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        16
      ],
      "id": "b1000000-0000-4000-8000-000000000060",
      "name": "Check ERP Token"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d1000060-0000-4000-8000-000000000001",
              "leftValue": "={{ $json.tokenCacheHit }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1584,
        16
      ],
      "id": "b1000000-0000-4000-8000-000000000061",
      "name": "Token Valid?"
    },
    {
      "parameters": {
        "jsCode": "// Build OAuth2 token request\nconst config = $('Config').first().json;\n\nreturn [{\n  json: {\n    tokenUrl: config.erpApiUrl + '/Token',\n    tokenBody: 'grant_type=password&username=' + encodeURIComponent(config.erpUsername) + '&password=' + encodeURIComponent(config.erpPassword)\n  },\n  binary: $input.first().binary\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        224
      ],
      "id": "b1000000-0000-4000-8000-000000000062",
      "name": "Prepare Auth"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.tokenUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.tokenBody }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2064,
        224
      ],
      "id": "b1000000-0000-4000-8000-000000000063",
      "name": "Fetch ERP Token"
    },
    {
      "parameters": {
        "jsCode": "// Store ERP token in static data with expiry\nconst staticData = $getWorkflowStaticData('global');\nconst tokenResponse = $input.first().json;\n\nconst token = tokenResponse.access_token;\nif (!token) {\n  throw new Error('Failed to get ERP token: ' + JSON.stringify(tokenResponse));\n}\n\nlet expiresAt;\nif (tokenResponse['.expires']) {\n  expiresAt = new Date(tokenResponse['.expires']).getTime();\n} else if (tokenResponse.expires_in) {\n  expiresAt = Date.now() + (tokenResponse.expires_in * 1000);\n} else {\n  expiresAt = Date.now() + (60 * 60 * 1000);\n}\n\nstaticData.erpToken = token;\nstaticData.erpTokenExpiresAt = expiresAt;\n\nreturn [{ json: { erpToken: token, tokenCacheHit: false }, binary: $('Check ERP Token').first().binary }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        224
      ],
      "id": "b1000000-0000-4000-8000-000000000064",
      "name": "Store ERP Token"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1000001-0000-4000-8000-000000000002",
              "name": "senderEmail",
              "value": "={{ $('New Email Received').first().json.from.emailAddress.address }}",
              "type": "string"
            },
            {
              "id": "c1000001-0000-4000-8000-000000000004",
              "name": "emailSubject",
              "value": "={{ $('New Email Received').first().json.subject }}",
              "type": "string"
            },
            {
              "id": "c1000001-0000-4000-8000-000000000005",
              "name": "emailId",
              "value": "={{ $('New Email Received').first().json.id }}",
              "type": "string"
            },
            {
              "id": "c1000001-0000-4000-8000-000000000006",
              "name": "hasAttachments",
              "value": "={{ $('New Email Received').first().json.hasAttachments }}",
              "type": "boolean"
            },
            {
              "id": "c1000001-0000-4000-8000-000000000007",
              "name": "receivedAt",
              "value": "={{ $('New Email Received').first().json.receivedDateTime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        0
      ],
      "id": "b1000000-0000-4000-8000-000000000002",
      "name": "Extract Email Metadata"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "htd4mmeSLhFXW2W9"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2880,
        0
      ],
      "id": "b1000000-0000-4000-8000-000000000010",
      "name": "WF-02: Validate Sender",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d1000002-0000-4000-8000-000000000001",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3120,
        0
      ],
      "id": "b1000000-0000-4000-8000-000000000011",
      "name": "Sender Valid?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d1000001-0000-4000-8000-000000000001",
              "leftValue": "={{ $('Extract Email Metadata').item.json.hasAttachments }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3360,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000003",
      "name": "Has Attachments?"
    },
    {
      "parameters": {
        "jsCode": "// Re-attach binary data from trigger and carry config + customer data\nconst emailMeta = $('Extract Email Metadata').first().json;\nconst sv = $('WF-02: Validate Sender').first().json;\nconst config = $('Config').first().json;\n\n// Get binary directly from trigger node (binary gets dropped by Set/IF/Execute nodes)\nconst binary = $('New Email Received').first().binary || {};\nconst binaryKeys = Object.keys(binary);\nconst renamedBinary = {};\nif (binaryKeys.length > 0) {\n  // Rename first attachment to 'data' for Spreadsheet File node\n  renamedBinary.data = binary[binaryKeys[0]];\n  for (let i = 1; i < binaryKeys.length; i++) {\n    renamedBinary[binaryKeys[i]] = binary[binaryKeys[i]];\n  }\n}\n\nreturn [{\n  json: {\n    config: config,\n    senderEmail: emailMeta.senderEmail,\n    emailSubject: emailMeta.emailSubject,\n    emailId: emailMeta.emailId,\n    receivedAt: emailMeta.receivedAt,\n    senderName: sv.senderName || '',\n    customer: sv.customer || null,\n    deliveryPlace: sv.deliveryPlace || null,\n    businessCenter: sv.businessCenter || config.businessCenterDefault,\n    defaultDiscountPerc: sv.defaultDiscountPerc || config.defaultDiscountPerc\n  },\n  binary: renamedBinary\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        -208
      ],
      "id": "b1000000-0000-4000-8000-000000000020",
      "name": "Prepare Parser Input"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "tu3iR5DJRA1oAEv6"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3840,
        -208
      ],
      "id": "b1000000-0000-4000-8000-000000000021",
      "name": "WF-03: Parse XLSX",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "d1000003-0000-4000-8000-000000000001",
              "leftValue": "={{ $json.matched }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4080,
        -208
      ],
      "id": "b1000000-0000-4000-8000-000000000022",
      "name": "Parse Succeeded?"
    },
    {
      "parameters": {
        "jsCode": "// Prepare input for data validation with customer lookup from DataTable\nconst lookupResult = $input.first().json;\nconst emailMeta = $('Extract Email Metadata').first().json;\nconst parserInput = $('Prepare Parser Input').first().json;\nconst config = $('Config').first().json;\nconst erpToken = $('Check ERP Token').first().json.erpToken\n  || ($('Store ERP Token').first().json || {}).erpToken;\n\nreturn [{\n  json: {\n    config: config,\n    orderLines: lookupResult.orderLines || [],\n    lineCount: lookupResult.lineCount || 0,\n    senderEmail: emailMeta.senderEmail,\n    emailSubject: emailMeta.emailSubject,\n    customer: parserInput.customer,\n    deliveryPlace: parserInput.deliveryPlace,\n    defaultDiscountPerc: parserInput.defaultDiscountPerc,\n    customerLookup: lookupResult.customerLookup\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4320,
        -272
      ],
      "id": "b1000000-0000-4000-8000-000000000023",
      "name": "Prepare Validator Input"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "GtoJqRCiEqFehc84"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4560,
        -272
      ],
      "id": "b1000000-0000-4000-8000-000000000024",
      "name": "WF-04: Validate Data",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Merge validation results with config for approval (no customerLookup — too large, not needed after validation)\nconst validationResult = $input.first().json;\nconst emailMeta = $('Extract Email Metadata').first().json;\nconst parserInput = $('Prepare Parser Input').first().json;\nconst config = $('Config').first().json;\n\n// Strip rawData from validated lines to reduce payload size\nconst cleanedLines = (validationResult.validatedLines || []).map(line => {\n  const { rawData, ...rest } = line;\n  return rest;\n});\n\nreturn [{\n  json: {\n    config: config,\n    validated: validationResult.validated,\n    lineCount: validationResult.lineCount,\n    summary: validationResult.summary,\n    validatedLines: cleanedLines,\n    invalidLines: (validationResult.invalidLines || []).map(line => {\n      const { rawData, ...rest } = line;\n      return rest;\n    }),\n    senderEmail: emailMeta.senderEmail,\n    emailSubject: emailMeta.emailSubject,\n    emailId: emailMeta.emailId,\n    receivedAt: emailMeta.receivedAt,\n    customer: parserInput.customer,\n    deliveryPlace: parserInput.deliveryPlace,\n    businessCenter: parserInput.businessCenter\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4800,
        -272
      ],
      "id": "b1000000-0000-4000-8000-000000000025",
      "name": "Prepare Approval Input"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "XJknI06WpDQhSDT3"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5040,
        -272
      ],
      "id": "b1000000-0000-4000-8000-000000000026",
      "name": "WF-05: Approval Gate",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d1000004-0000-4000-8000-000000000001",
              "leftValue": "={{ $json.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5280,
        -272
      ],
      "id": "b1000000-0000-4000-8000-000000000027",
      "name": "Approved?"
    },
    {
      "parameters": {
        "jsCode": "// Pass approval result to WF-06 (token is handled by WF-06 itself now)\nconst approvalResult = $input.first().json;\nconst config = approvalResult.config || $('Config').first().json;\n\nreturn [{\n  json: {\n    ...approvalResult,\n    config: config\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5520,
        -368
      ],
      "id": "b1000000-0000-4000-8000-000000000032",
      "name": "Prepare Submission Input"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "oxQuEAdjRAlJXhLg"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5760,
        -368
      ],
      "id": "b1000000-0000-4000-8000-000000000028",
      "name": "WF-06: Submit Order",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3600,
        0
      ],
      "id": "b1000000-0000-4000-8000-000000000005",
      "name": "No Attachments (skip)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3360,
        112
      ],
      "id": "b1000000-0000-4000-8000-000000000012",
      "name": "Sender Rejected"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4320,
        -64
      ],
      "id": "b1000000-0000-4000-8000-000000000030",
      "name": "Parse Failed"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5520,
        -176
      ],
      "id": "b1000000-0000-4000-8000-000000000031",
      "name": "Rejected"
    },
    {
      "parameters": {
        "operation": "update",
        "messageId": {
          "__rl": true,
          "value": "={{ $input.first().json.id }}",
          "mode": "id"
        },
        "updateFields": {
          "isRead": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        848,
        16
      ],
      "id": "b1000000-0000-4000-8000-000000000070",
      "name": "Mark as Read",
      "webhookId": "7062b306-8abb-42fe-ad46-5feccf01c716",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "jzzDNHXRz5JAGlpl",
          "name": "Microsoft Outlook account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "move",
        "messageId": "={{ $('Extract Email Metadata').item.json.emailId }}",
        "folderId": {
          "__rl": true,
          "value": "AQMkADAwATM3ZmYBLWFjNzktZThjYi0wMAItMDAKAC4AAAPC4Icd5OvFRJyzX6l-fZwFAQBhdL-ANklNR6oMNJhB5iOiAAAB7sV_AAAA",
          "mode": "list",
          "cachedResultName": "Processed",
          "cachedResultUrl": "https://outlook.office365.com/mail/AQMkADAwATM3ZmYBLWFjNzktZThjYi0wMAItMDAKAC4AAAPC4Icd5OvFRJyzX6l%2FfZwFAQBhdL%2FANklNR6oMNJhB5iOiAAAB7sV_AAAA"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        6000,
        -176
      ],
      "id": "b1000000-0000-4000-8000-000000000071",
      "name": "Move to Processed",
      "webhookId": "492e9eae-734a-4a72-9da8-b0c62db31f7c",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "jzzDNHXRz5JAGlpl",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "messageId": "={{ $('Extract Email Metadata').item.json.emailId }}",
        "folderId": {
          "__rl": true,
          "value": "AQMkADAwATM3ZmYBLWFjNzktZThjYi0wMAItMDAKAC4AAAPC4Icd5OvFRJyzX6l-fZwFAQBhdL-ANklNR6oMNJhB5iOiAAAB7sWGAAAA",
          "mode": "list",
          "cachedResultName": "Invalid",
          "cachedResultUrl": "https://outlook.office365.com/mail/AQMkADAwATM3ZmYBLWFjNzktZThjYi0wMAItMDAKAC4AAAPC4Icd5OvFRJyzX6l%2FfZwFAQBhdL%2FANklNR6oMNJhB5iOiAAAB7sWGAAAA"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        3600,
        208
      ],
      "id": "b1000000-0000-4000-8000-000000000073",
      "name": "Move to Invalid",
      "webhookId": "c02ab9ca-cecf-43e0-a8a3-5ba0cfccee68",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "jzzDNHXRz5JAGlpl",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "messageId": "={{ $('Extract Email Metadata').item.json.emailId }}",
        "folderId": {
          "__rl": true,
          "value": "AQMkADAwATM3ZmYBLWFjNzktZThjYi0wMAItMDAKAC4AAAPC4Icd5OvFRJyzX6l-fZwFAQBhdL-ANklNR6oMNJhB5iOiAAAB7sWAAAAA",
          "mode": "list",
          "cachedResultName": "Error",
          "cachedResultUrl": "https://outlook.office365.com/mail/AQMkADAwATM3ZmYBLWFjNzktZThjYi0wMAItMDAKAC4AAAPC4Icd5OvFRJyzX6l%2FfZwFAQBhdL%2FANklNR6oMNJhB5iOiAAAB7sWAAAAA"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        5760,
        144
      ],
      "id": "b1000000-0000-4000-8000-000000000072",
      "name": "Move to Error",
      "webhookId": "fcc63d92-044d-45e8-870d-699d33661036",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "jzzDNHXRz5JAGlpl",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "output": "raw",
        "filtersUI": {
          "values": {
            "filters": {
              "hasAttachments": true,
              "foldersToInclude": [
                "AQMkADAwATM3ZmYBLWFjNzktZThjYi0wMAItMDAKAC4AAAPC4Icd5OvFRJyzX6l-fZwFAQBhdL-ANklNR6oMNJhB5iOiAAACAQwAAAA="
              ],
              "readStatus": "unread"
            }
          }
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        320,
        16
      ],
      "id": "7ccc76d3-062a-427c-b7aa-6fc833ab27c2",
      "name": "New Email Received",
      "webhookId": "ecb89380-9fb9-480f-a9df-49fb1fff8ddf",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "jzzDNHXRz5JAGlpl",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Output one item per unique delivery place ID for individual DT lookups\nconst parseResult = $input.first().json;\nconst orderLines = parseResult.orderLines || [];\n\n// Get erpToken from whichever path was taken\nlet erpToken;\ntry { erpToken = $(\"Check ERP Token\").first().json.erpToken; } catch(e) {}\nif (!erpToken) {\n  try { erpToken = $(\"Store ERP Token\").first().json.erpToken; } catch(e) {}\n}\n\nconst ids = [...new Set(orderLines.map(l => l.pharmacyId).filter(Boolean))];\n\n// Output one item per delivery place ID\nreturn ids.map(id => ({ json: { deliveryPlaceId: id, erpToken, parseResult } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4208,
        -608
      ],
      "id": "b1000000-0000-4000-8000-000000000080",
      "name": "Extract Order Delivery IDs"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "IorEZZc62YoIw0PA",
          "mode": "list",
          "cachedResultName": "Customers",
          "cachedResultUrl": "/projects/hrbLY7WdX4PPEv0o/datatables/IorEZZc62YoIw0PA"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "deliveryPlaceId",
              "keyValue": "={{ $json.deliveryPlaceId }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        4464,
        -608
      ],
      "id": "b1000000-0000-4000-8000-000000000081",
      "name": "DT: Lookup Delivery Places",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Aggregate per-ID DT lookup results into a single customer lookup\nconst firstItem = $('Extract Order Delivery IDs').first().json;\nconst parseResult = firstItem.parseResult;\nconst erpToken = firstItem.erpToken;\n\n// Collect all requested delivery place IDs\nconst requestedItems = $('Extract Order Delivery IDs').all();\nconst requestedIds = requestedItems.map(i => i.json.deliveryPlaceId);\n\n// Build lookup from DT results (one result per requested ID)\nconst dtRows = $('DT: Lookup Delivery Places').all();\nconst deliveryPlaceById = {};\nconst customerById = {};\n\nfor (const row of dtRows) {\n  const r = row.json;\n  if (r.deliveryPlaceId) {\n    deliveryPlaceById[r.deliveryPlaceId] = {\n      customerId: r.customerId,\n      customerName: r.customerName,\n      name: r.name,\n      city: r.city,\n      postCode: r.postCode,\n      street: r.street\n    };\n    if (r.customerId && !customerById[r.customerId]) {\n      customerById[r.customerId] = {\n        name: r.customerName,\n        oib: r.oib,\n        city: r.city,\n        postCode: r.postCode,\n        street: r.street\n      };\n    }\n  }\n}\n\nconst missingIds = requestedIds.filter(id => !deliveryPlaceById[id]);\n\nreturn [{\n  json: {\n    ...parseResult,\n    erpToken,\n    customerLookup: {\n      customerById,\n      deliveryPlaceById,\n      totalCustomers: Object.keys(customerById).length,\n      totalDeliveryPlaces: Object.keys(deliveryPlaceById).length,\n      source: 'datatable'\n    },\n    missingDeliveryPlaceIds: missingIds,\n    hasMissing: missingIds.length > 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4704,
        -608
      ],
      "id": "b1000000-0000-4000-8000-000000000082",
      "name": "Build Customer Lookup"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d1000080-0000-4000-8000-000000000001",
              "leftValue": "={{ $json.hasMissing }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4928,
        -608
      ],
      "id": "b1000000-0000-4000-8000-000000000083",
      "name": "Has Missing?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "Ca6USlpwwebcje0c"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5248,
        -608
      ],
      "id": "b1000000-0000-4000-8000-000000000084",
      "name": "WF-07: Refresh Customers",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "IorEZZc62YoIw0PA",
          "mode": "list",
          "cachedResultName": "Customers",
          "cachedResultUrl": "/projects/hrbLY7WdX4PPEv0o/datatables/IorEZZc62YoIw0PA"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "deliveryPlaceId",
              "keyValue": "={{ $json.deliveryPlaceId }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        5472,
        -608
      ],
      "id": "b1000000-0000-4000-8000-000000000085",
      "name": "Re-lookup Delivery Places",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Discard WF-07 output, re-emit original order delivery place IDs\nreturn $('Extract Order Delivery IDs').all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5360,
        -608
      ],
      "id": "b1000000-0000-4000-8000-000000000087",
      "name": "Restore Order IDs"
    },
    {
      "parameters": {
        "jsCode": "// Rebuild lookup after WF-07 refresh\nconst firstItem = $('Extract Order Delivery IDs').first().json;\nconst parseResult = firstItem.parseResult;\nconst erpToken = firstItem.erpToken;\n\nconst requestedItems = $('Extract Order Delivery IDs').all();\nconst requestedIds = requestedItems.map(i => i.json.deliveryPlaceId);\n\nconst dtRows = $('Re-lookup Delivery Places').all();\nconst deliveryPlaceById = {};\nconst customerById = {};\n\nfor (const row of dtRows) {\n  const r = row.json;\n  if (r.deliveryPlaceId) {\n    deliveryPlaceById[r.deliveryPlaceId] = {\n      customerId: r.customerId,\n      customerName: r.customerName,\n      name: r.name,\n      city: r.city,\n      postCode: r.postCode,\n      street: r.street\n    };\n    if (r.customerId && !customerById[r.customerId]) {\n      customerById[r.customerId] = {\n        name: r.customerName,\n        oib: r.oib,\n        city: r.city,\n        postCode: r.postCode,\n        street: r.street\n      };\n    }\n  }\n}\n\nconst missingIds = requestedIds.filter(id => !deliveryPlaceById[id]);\nif (missingIds.length > 0) {\n  console.log('Still missing after refresh: ' + missingIds.join(', '));\n}\n\nreturn [{\n  json: {\n    ...parseResult,\n    erpToken,\n    customerLookup: {\n      customerById,\n      deliveryPlaceById,\n      totalCustomers: Object.keys(customerById).length,\n      totalDeliveryPlaces: Object.keys(deliveryPlaceById).length,\n      source: 'datatable_refreshed'\n    },\n    missingDeliveryPlaceIds: missingIds,\n    hasMissing: missingIds.length > 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5664,
        -608
      ],
      "id": "b1000000-0000-4000-8000-000000000086",
      "name": "Rebuild Customer Lookup"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d1000080-0000-4000-8000-000000000002",
              "leftValue": "={{ $json.hasMissing }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5904,
        -608
      ],
      "id": "b1000000-0000-4000-8000-000000000088",
      "name": "All Found After Refresh?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        6144,
        -496
      ],
      "id": "b1000000-0000-4000-8000-000000000089",
      "name": "Customer Lookup Failed"
    }
  ],
  "connections": {
    "Poll Every Minute": {
      "main": [
        [
          {
            "node": "New Email Received",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Email Received": {
      "main": [
        [
          {
            "node": "Mark as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Read": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Check ERP Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check ERP Token": {
      "main": [
        [
          {
            "node": "Token Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Valid?": {
      "main": [
        [
          {
            "node": "Extract Email Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Auth": {
      "main": [
        [
          {
            "node": "Fetch ERP Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch ERP Token": {
      "main": [
        [
          {
            "node": "Store ERP Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store ERP Token": {
      "main": [
        [
          {
            "node": "Extract Email Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email Metadata": {
      "main": [
        [
          {
            "node": "WF-02: Validate Sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-02: Validate Sender": {
      "main": [
        [
          {
            "node": "Sender Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sender Valid?": {
      "main": [
        [
          {
            "node": "Has Attachments?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sender Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Attachments?": {
      "main": [
        [
          {
            "node": "Prepare Parser Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Attachments (skip)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Parser Input": {
      "main": [
        [
          {
            "node": "WF-03: Parse XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-03: Parse XLSX": {
      "main": [
        [
          {
            "node": "Parse Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Succeeded?": {
      "main": [
        [
          {
            "node": "Extract Order Delivery IDs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Validator Input": {
      "main": [
        [
          {
            "node": "WF-04: Validate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-04: Validate Data": {
      "main": [
        [
          {
            "node": "Prepare Approval Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Approval Input": {
      "main": [
        [
          {
            "node": "WF-05: Approval Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-05: Approval Gate": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Prepare Submission Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Submission Input": {
      "main": [
        [
          {
            "node": "WF-06: Submit Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-06: Submit Order": {
      "main": [
        [
          {
            "node": "Move to Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Attachments (skip)": {
      "main": [
        [
          {
            "node": "Move to Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sender Rejected": {
      "main": [
        [
          {
            "node": "Move to Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Failed": {
      "main": [
        [
          {
            "node": "Move to Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rejected": {
      "main": [
        [
          {
            "node": "Move to Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Order Delivery IDs": {
      "main": [
        [
          {
            "node": "DT: Lookup Delivery Places",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DT: Lookup Delivery Places": {
      "main": [
        [
          {
            "node": "Build Customer Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Customer Lookup": {
      "main": [
        [
          {
            "node": "Has Missing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Missing?": {
      "main": [
        [
          {
            "node": "WF-07: Refresh Customers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Validator Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-07: Refresh Customers": {
      "main": [
        [
          {
            "node": "Restore Order IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Order IDs": {
      "main": [
        [
          {
            "node": "Re-lookup Delivery Places",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-lookup Delivery Places": {
      "main": [
        [
          {
            "node": "Rebuild Customer Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rebuild Customer Lookup": {
      "main": [
        [
          {
            "node": "All Found After Refresh?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Found After Refresh?": {
      "main": [
        [
          {
            "node": "Prepare Validator Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Customer Lookup Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Lookup Failed": {
      "main": [
        [
          {
            "node": "Move to Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": []
}
