workflows/medika_preorder_00_error_handler.json
{
  "name": "[medika-preorders] WF-00: Error Handler",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "a1b2c3d4-0000-4000-8000-000000000001",
      "name": "On Workflow Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1000001-0000-4000-8000-000000000001",
              "name": "workflowName",
              "value": "={{ $json.workflow.name }}",
              "type": "string"
            },
            {
              "id": "f1000001-0000-4000-8000-000000000002",
              "name": "workflowId",
              "value": "={{ $json.workflow.id }}",
              "type": "string"
            },
            {
              "id": "f1000001-0000-4000-8000-000000000003",
              "name": "executionId",
              "value": "={{ $json.execution.id }}",
              "type": "string"
            },
            {
              "id": "f1000001-0000-4000-8000-000000000004",
              "name": "errorMessage",
              "value": "={{ $json.execution.error.message }}",
              "type": "string"
            },
            {
              "id": "f1000001-0000-4000-8000-000000000005",
              "name": "lastNode",
              "value": "={{ $json.execution.lastNodeExecuted }}",
              "type": "string"
            },
            {
              "id": "f1000001-0000-4000-8000-000000000006",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0],
      "id": "a1b2c3d4-0000-4000-8000-000000000002",
      "name": "Format Error Context"
    },
    {
      "parameters": {
        "sendTo": "={{ $vars.MEDIKA_PREORDERS_ERROR_NOTIFY_EMAIL }}",
        "subject": "=[medika-preorders] ERROR in {{ $json.workflowName }}",
        "message": "=<h2>Workflow Error</h2>\n<table style=\"border-collapse:collapse; font-family:sans-serif;\">\n<tr><td style=\"padding:4px 12px; font-weight:bold;\">Workflow</td><td style=\"padding:4px 12px;\">{{ $json.workflowName }}</td></tr>\n<tr><td style=\"padding:4px 12px; font-weight:bold;\">Failing Node</td><td style=\"padding:4px 12px;\">{{ $json.lastNode }}</td></tr>\n<tr><td style=\"padding:4px 12px; font-weight:bold;\">Error</td><td style=\"padding:4px 12px; color:red;\">{{ $json.errorMessage }}</td></tr>\n<tr><td style=\"padding:4px 12px; font-weight:bold;\">Execution ID</td><td style=\"padding:4px 12px;\">{{ $json.executionId }}</td></tr>\n<tr><td style=\"padding:4px 12px; font-weight:bold;\">Time</td><td style=\"padding:4px 12px;\">{{ $json.timestamp }}</td></tr>\n</table>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [440, 0],
      "id": "a1b2c3d4-0000-4000-8000-000000000003",
      "name": "Send Error Email",
      "credentials": {
        "smtp": {
          "id": "",
          "name": "Medika Preorders - SMTP"
        }
      }
    }
  ],
  "connections": {
    "On Workflow Error": {
      "main": [
        [
          {
            "node": "Format Error Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Context": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "medika-preorders"
    }
  ]
}
