workflows/medika_preorder_01_orchestrator.json
{
  "name": "[medika-preorders] WF-01: Orchestrator",
  "nodes": [
    {
      "parameters": {
        "event": "messageReceived",
        "simple": false,
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "options": {
          "downloadAttachments": true,
          "readStatus": "unread",
          "hasAttachments": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "b1000000-0000-4000-8000-000000000001",
      "name": "New Email Received",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "",
          "name": "Medika Preorders - Microsoft Outlook"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1000001-0000-4000-8000-000000000001",
              "name": "config_parseHtmlBody",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "c1000001-0000-4000-8000-000000000002",
              "name": "senderEmail",
              "value": "={{ $json.from.emailAddress.address }}",
              "type": "string"
            },
            {
              "id": "c1000001-0000-4000-8000-000000000004",
              "name": "emailSubject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "c1000001-0000-4000-8000-000000000005",
              "name": "emailId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "c1000001-0000-4000-8000-000000000006",
              "name": "hasAttachments",
              "value": "={{ $json.hasAttachments }}",
              "type": "boolean"
            },
            {
              "id": "c1000001-0000-4000-8000-000000000007",
              "name": "receivedAt",
              "value": "={{ $json.receivedDateTime }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "includeBinary": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [240, 0],
      "id": "b1000000-0000-4000-8000-000000000002",
      "name": "Extract Email Metadata"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [480, 0],
      "id": "b1000000-0000-4000-8000-000000000010",
      "name": "WF-02: Validate Sender",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d1000002-0000-4000-8000-000000000001",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 0],
      "id": "b1000000-0000-4000-8000-000000000011",
      "name": "Sender Valid?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d1000001-0000-4000-8000-000000000001",
              "leftValue": "={{ $('Extract Email Metadata').item.json.hasAttachments }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, -100],
      "id": "b1000000-0000-4000-8000-000000000003",
      "name": "Has Attachments?"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Re-attach binary data from the original email trigger\n// After WF-02, the current context only has validation results.\n// We need the original binary (XLSX attachment) for WF-03.\nconst emailMeta = $('Extract Email Metadata').first();\nconst senderValidation = $('WF-02: Validate Sender').first().json;\n\nreturn [{\n  json: {\n    senderEmail: emailMeta.json.senderEmail,\n    emailSubject: emailMeta.json.emailSubject,\n    emailId: emailMeta.json.emailId,\n    receivedAt: emailMeta.json.receivedAt,\n    senderName: senderValidation.senderName || '',\n    authorizedPharmacyIds: senderValidation.authorizedPharmacyIds || []\n  },\n  binary: emailMeta.binary\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, -200],
      "id": "b1000000-0000-4000-8000-000000000020",
      "name": "Prepare Parser Input"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1440, -200],
      "id": "b1000000-0000-4000-8000-000000000021",
      "name": "WF-03: Parse XLSX",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d1000003-0000-4000-8000-000000000001",
              "leftValue": "={{ $json.matched }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1680, -200],
      "id": "b1000000-0000-4000-8000-000000000022",
      "name": "Parse Succeeded?"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Prepare input for article validation: pass orderLines + context\nconst parseResult = $input.first().json;\nconst emailMeta = $('Extract Email Metadata').first().json;\n\nreturn [{\n  json: {\n    orderLines: parseResult.orderLines || [],\n    mapping: parseResult.mapping || {},\n    lineCount: parseResult.lineCount || 0,\n    senderEmail: emailMeta.senderEmail,\n    emailSubject: emailMeta.emailSubject\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, -300],
      "id": "b1000000-0000-4000-8000-000000000023",
      "name": "Prepare Validator Input"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [2160, -300],
      "id": "b1000000-0000-4000-8000-000000000024",
      "name": "WF-04: Validate Articles",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Merge validation results with email context for approval\nconst validationResult = $input.first().json;\nconst emailMeta = $('Extract Email Metadata').first().json;\n\nreturn [{\n  json: {\n    ...validationResult,\n    senderEmail: emailMeta.senderEmail,\n    emailSubject: emailMeta.emailSubject,\n    emailId: emailMeta.emailId\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, -300],
      "id": "b1000000-0000-4000-8000-000000000025",
      "name": "Prepare Approval Input"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [2640, -300],
      "id": "b1000000-0000-4000-8000-000000000026",
      "name": "WF-05: Approval Gate",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d1000004-0000-4000-8000-000000000001",
              "leftValue": "={{ $json.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2880, -300],
      "id": "b1000000-0000-4000-8000-000000000027",
      "name": "Approved?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [3120, -400],
      "id": "b1000000-0000-4000-8000-000000000028",
      "name": "WF-06: Submit Order",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1200, 0],
      "id": "b1000000-0000-4000-8000-000000000005",
      "name": "No Attachments (skip)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [960, 100],
      "id": "b1000000-0000-4000-8000-000000000012",
      "name": "Sender Rejected"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1920, -100],
      "id": "b1000000-0000-4000-8000-000000000030",
      "name": "Parse Failed"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3120, -200],
      "id": "b1000000-0000-4000-8000-000000000031",
      "name": "Rejected / Changes Requested"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "update",
        "messageId": "={{ $('Extract Email Metadata').item.json.emailId }}",
        "updateFields": {
          "isRead": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [3360, -100],
      "id": "b1000000-0000-4000-8000-000000000013",
      "name": "Mark as Read",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "",
          "name": "Medika Preorders - Microsoft Outlook"
        }
      }
    }
  ],
  "connections": {
    "New Email Received": {
      "main": [
        [
          {
            "node": "Extract Email Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email Metadata": {
      "main": [
        [
          {
            "node": "WF-02: Validate Sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-02: Validate Sender": {
      "main": [
        [
          {
            "node": "Sender Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sender Valid?": {
      "main": [
        [
          {
            "node": "Has Attachments?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sender Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Attachments?": {
      "main": [
        [
          {
            "node": "Prepare Parser Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Attachments (skip)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Parser Input": {
      "main": [
        [
          {
            "node": "WF-03: Parse XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-03: Parse XLSX": {
      "main": [
        [
          {
            "node": "Parse Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Succeeded?": {
      "main": [
        [
          {
            "node": "Prepare Validator Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Validator Input": {
      "main": [
        [
          {
            "node": "WF-04: Validate Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-04: Validate Articles": {
      "main": [
        [
          {
            "node": "Prepare Approval Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Approval Input": {
      "main": [
        [
          {
            "node": "WF-05: Approval Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-05: Approval Gate": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "WF-06: Submit Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rejected / Changes Requested",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-06: Submit Order": {
      "main": [
        [
          {
            "node": "Mark as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Attachments (skip)": {
      "main": [
        [
          {
            "node": "Mark as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sender Rejected": {
      "main": [
        [
          {
            "node": "Mark as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Failed": {
      "main": [
        [
          {
            "node": "Mark as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rejected / Changes Requested": {
      "main": [
        [
          {
            "node": "Mark as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "medika-preorders"
    }
  ]
}
