workflows/test/medika-preorders/00b_token_manager.json
{
  "name": "[medika-preorders-test] WF-00b: Token Manager",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        144,
        0
      ],
      "id": "f0b00000-0000-4000-8000-000000000001",
      "name": "Sub-Workflow Input"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f0b-rtr-001",
                    "leftValue": "={{ $json.tokenType }}",
                    "rightValue": "graph_api",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f0b-rtr-002",
                    "leftValue": "={{ $json.tokenType }}",
                    "rightValue": "graph_api",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        384,
        0
      ],
      "id": "f0b00000-0000-4000-8000-000000000011",
      "name": "Router"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0b-cfg-001",
              "name": "erpApiUrl",
              "value": "={{ $env.MEDIKA_ERP_URL }}",
              "type": "string"
            },
            {
              "id": "f0b-cfg-002",
              "name": "erpUsername",
              "value": "={{ $env.MEDIKA_ERP_USERNAME }}",
              "type": "string"
            },
            {
              "id": "f0b-cfg-003",
              "name": "erpPassword",
              "value": "={{ $env.MEDIKA_ERP_PASSWORD }}",
              "type": "string"
            },
            {
              "id": "f0b-cfg-004",
              "name": "tokenType",
              "value": "medika_erp",
              "type": "string"
            },
            {
              "id": "f0b-cfg-005",
              "name": "tokenUrl",
              "value": "={{ $env.MEDIKA_ERP_URL + '/Token' }}",
              "type": "string"
            },
            {
              "id": "f0b-cfg-006",
              "name": "tokenBody",
              "value": "={{ 'grant_type=password&username=' + encodeURIComponent($env.MEDIKA_ERP_USERNAME) + '&password=' + encodeURIComponent($env.MEDIKA_ERP_PASSWORD) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -128
      ],
      "id": "f0b00000-0000-4000-8000-000000000010",
      "name": "ERP Config"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0b-gcfg-001",
              "name": "tokenType",
              "value": "graph_api",
              "type": "string"
            },
            {
              "id": "f0b-gcfg-002",
              "name": "tokenUrl",
              "value": "={{ 'https://login.microsoftonline.com/' + $env.MS_GRAPH_TENANT_ID + '/oauth2/v2.0/token' }}",
              "type": "string"
            },
            {
              "id": "f0b-gcfg-003",
              "name": "tokenBody",
              "value": "={{ 'grant_type=client_credentials&client_id=' + $env.MS_GRAPH_CLIENT_ID + '&client_secret=' + encodeURIComponent($env.MS_GRAPH_CLIENT_SECRET) + '&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        128
      ],
      "id": "f0b00000-0000-4000-8000-000000000012",
      "name": "Graph Config"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "2OXhQe9PldAX5fYo",
          "mode": "list",
          "cachedResultName": "Tokens"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "type",
              "keyValue": "={{ $json.tokenType }}"
            }
          ]
        },
        "limit": 1,
        "orderBy": true,
        "orderByColumn": "storedAt"
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1008,
        0
      ],
      "id": "f0b00000-0000-4000-8000-000000000002",
      "name": "DT: Read Token",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Check Data Table for a valid cached token\n// DT: Read Token returns at most 1 row filtered by type, sorted by storedAt\nlet config;\ntry { config = $('Graph Config').first().json; } catch(e) { config = $('ERP Config').first().json; }\nconst tokenType = config.tokenType || 'medika_erp';\nconst tokenUrl = config.tokenUrl;\nconst tokenBody = config.tokenBody;\n\nconst dtRows = $('DT: Read Token').all();\nconst latest = dtRows.length > 0 ? dtRows[0].json : null;\n\nif (latest && latest.token && latest.expiresAt) {\n  const bufferMs = 10 * 60 * 1000;\n  const expiresAt = new Date(latest.expiresAt).getTime();\n  if (Date.now() < (expiresAt - bufferMs)) {\n    return [{ json: {\n      needsFetch: false,\n      accessToken: latest.token,\n      expiresAt: latest.expiresAt\n    }}];\n  }\n}\n\nreturn [{ json: {\n  needsFetch: true,\n  tokenType: tokenType,\n  tokenUrl: tokenUrl,\n  tokenBody: tokenBody\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        0
      ],
      "id": "f0b00000-0000-4000-8000-000000000003",
      "name": "Check Token"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f0b00003-0000-4000-8000-000000000001",
              "leftValue": "={{ $json.needsFetch }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1488,
        0
      ],
      "id": "f0b00000-0000-4000-8000-000000000004",
      "name": "Token Valid?"
    },
    {
      "parameters": {
        "jsCode": "// Return cached token from Data Table\nconst checked = $input.first().json;\n\nreturn [{ json: {\n  accessToken: checked.accessToken,\n  expiresAt: checked.expiresAt,\n  cacheHit: true\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        -96
      ],
      "id": "f0b00000-0000-4000-8000-000000000005",
      "name": "Return Cached Token"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.tokenUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.tokenBody }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1728,
        208
      ],
      "id": "f0b00000-0000-4000-8000-000000000006",
      "name": "Fetch Token"
    },
    {
      "parameters": {
        "jsCode": "// Parse token response and format for Data Table storage\nconst tokenResponse = $input.first().json;\nconst tokenType = $('Check Token').first().json.tokenType || 'medika_erp';\nconst token = tokenResponse.access_token;\nif (!token) {\n  throw new Error('Failed to get ' + tokenType + ' token: ' + JSON.stringify(tokenResponse));\n}\n\nlet expiresAt;\nif (tokenResponse['.expires']) {\n  expiresAt = new Date(tokenResponse['.expires']).toISOString();\n} else if (tokenResponse.expires_in) {\n  expiresAt = new Date(Date.now() + (tokenResponse.expires_in * 1000)).toISOString();\n} else {\n  expiresAt = new Date(Date.now() + (60 * 60 * 1000)).toISOString();\n}\n\nreturn [{ json: {\n  tokenType: tokenType,\n  token: token,\n  expiresAt: expiresAt,\n  storedAt: new Date().toISOString(),\n  accessToken: token\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        208
      ],
      "id": "f0b00000-0000-4000-8000-000000000007",
      "name": "Parse Token"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "2OXhQe9PldAX5fYo",
          "mode": "list",
          "cachedResultName": "Tokens",
          "cachedResultUrl": "/projects/hrbLY7WdX4PPEv0o/datatables/2OXhQe9PldAX5fYo"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "type",
              "keyValue": "={{ $json.tokenType }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "type": "={{ $json.tokenType }}",
            "token": "={{ $json.token }}",
            "expiresAt": "={{ $json.expiresAt }}",
            "storedAt": "={{ $json.storedAt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "expiresAt",
              "displayName": "expiresAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "storedAt",
              "displayName": "storedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2208,
        208
      ],
      "id": "f0b00000-0000-4000-8000-000000000008",
      "name": "DT: Upsert Token"
    },
    {
      "parameters": {
        "jsCode": "// Return fresh token after saving to Data Table\nconst parsed = $('Parse Token').first().json;\n\nreturn [{ json: {\n  accessToken: parsed.accessToken,\n  expiresAt: parsed.expiresAt,\n  cacheHit: false\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        208
      ],
      "id": "f0b00000-0000-4000-8000-000000000009",
      "name": "Return Fresh Token"
    }
  ],
  "connections": {
    "Sub-Workflow Input": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "Graph Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERP Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERP Config": {
      "main": [
        [
          {
            "node": "DT: Read Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Graph Config": {
      "main": [
        [
          {
            "node": "DT: Read Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DT: Read Token": {
      "main": [
        [
          {
            "node": "Check Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Token": {
      "main": [
        [
          {
            "node": "Token Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Valid?": {
      "main": [
        [
          {
            "node": "Return Cached Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Token": {
      "main": [
        [
          {
            "node": "Parse Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Token": {
      "main": [
        [
          {
            "node": "DT: Upsert Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DT: Upsert Token": {
      "main": [
        [
          {
            "node": "Return Fresh Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": []
}
