workflows/test/medika-preorders/01b_process_email.json
{
  "name": "[medika-preorders-test] WF-01b: Process Email",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-process-email",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        512,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000200",
      "name": "Webhook",
      "webhookId": "process-email-webhook-01b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1b-set-001",
              "name": "tokenType",
              "value": "graph_api",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000150",
      "name": "Set Graph Token Type"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "a3WFhbGvOKzV81xE"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        944,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000151",
      "name": "WF-00b: Get Graph Token"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $env.MS_GRAPH_MAILBOX_READ_TEST }}/messages/{{ $('Webhook').first().json.body.id }}?$expand=attachments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('WF-00b: Get Graph Token').first().json.accessToken }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000152",
      "name": "Fetch Email Raw"
    },
    {
      "parameters": {
        "jsCode": "// Convert Graph API message with expanded attachments to n8n format\nconst message = $input.first().json;\nconst attachments = message.attachments || [];\nconst binary = {};\n\nfor (let i = 0; i < attachments.length; i++) {\n  const att = attachments[i];\n  if (att.contentBytes) {\n    binary['attachment_' + i] = {\n      data: att.contentBytes,\n      mimeType: att.contentType || 'application/octet-stream',\n      fileName: att.name || 'attachment_' + i,\n      fileSize: att.size || 0\n    };\n  }\n}\n\nconst { attachments: _, ...messageJson } = message;\n\nreturn [{ json: messageJson, binary }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000104",
      "name": "Fetch Email",
      "webhookId": "0926e667-ebba-455c-9d74-eb942ba9b887"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-004",
              "name": "businessCenterDefault",
              "value": "10",
              "type": "string"
            },
            {
              "id": "cfg-005",
              "name": "defaultDiscountPerc",
              "value": "0",
              "type": "number"
            },
            {
              "id": "cfg-006",
              "name": "customersApiPath",
              "value": "/api/Customers2",
              "type": "string"
            },
            {
              "id": "cfg-007",
              "name": "customerCacheTTLHours",
              "value": "24",
              "type": "number"
            },
            {
              "id": "cfg-008",
              "name": "notifyEmail",
              "value": "vlatko.goljevacki@gmail.com",
              "type": "string"
            },
            {
              "id": "cfg-009",
              "name": "errorNotifyEmail",
              "value": "",
              "type": "string"
            },
            {
              "id": "cfg-010",
              "name": "parseHtmlBody",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "cfg-011",
              "name": "aiParsingEnabled",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "cfg-012",
              "name": "tokenType",
              "value": "medika_erp",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1552,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000040",
      "name": "Config"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "a3WFhbGvOKzV81xE"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1776,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000095",
      "name": "WF-00b: Get ERP Token",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1000001-0000-4000-8000-000000000002",
              "name": "senderEmail",
              "value": "={{ $('Fetch Email').first().json.from.emailAddress.address }}",
              "type": "string"
            },
            {
              "id": "c1000001-0000-4000-8000-000000000004",
              "name": "emailSubject",
              "value": "={{ $('Fetch Email').first().json.subject }}",
              "type": "string"
            },
            {
              "id": "c1000001-0000-4000-8000-000000000005",
              "name": "emailId",
              "value": "={{ $('Fetch Email').first().json.id }}",
              "type": "string"
            },
            {
              "id": "c1000001-0000-4000-8000-000000000006",
              "name": "hasAttachments",
              "value": "={{ $('Fetch Email').first().json.hasAttachments }}",
              "type": "boolean"
            },
            {
              "id": "c1000001-0000-4000-8000-000000000007",
              "name": "receivedAt",
              "value": "={{ $('Fetch Email').first().json.receivedDateTime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2032,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000002",
      "name": "Extract Email Metadata"
    },
    {
      "parameters": {
        "jsCode": "// Check binary attachments for XLSX/XLS files\nconst binary = $('Fetch Email').first().binary || {};\nconst binaryKeys = Object.keys(binary);\nlet hasXlsx = false;\nlet xlsxCount = 0;\nconst xlsxFiles = [];\n\n// Order-related keywords in filenames (Croatian + English)\nconst ORDER_KEYWORDS = ['prednarudžba', 'prednarudzba', 'narudžba', 'narudzba', 'narudžbe',\n  'narudžbenica', 'narudzbenica', 'transfer order', 'order', 'prednarudžbe', 'prednarudzbe',\n  'to ', 'to-', 'to_'];\n\nfor (const key of binaryKeys) {\n  const b = binary[key];\n  const fileName = (b.fileName || '').toLowerCase();\n  const mimeType = (b.mimeType || '').toLowerCase();\n  if (fileName.endsWith('.xlsx') || fileName.endsWith('.xls') ||\n      mimeType.includes('spreadsheetml') || mimeType.includes('ms-excel')) {\n    hasXlsx = true;\n    xlsxCount++;\n    xlsxFiles.push({ key, fileName: b.fileName || key, fileNameLower: fileName });\n  }\n}\n\n// If multiple XLSX, pick the one most likely to be an order by filename\nlet selectedXlsxKey = null;\nif (xlsxCount > 1) {\n  for (const f of xlsxFiles) {\n    if (ORDER_KEYWORDS.some(kw => f.fileNameLower.includes(kw))) {\n      selectedXlsxKey = f.key;\n      break;\n    }\n  }\n  // If no keyword match, use the first XLSX\n  if (!selectedXlsxKey) selectedXlsxKey = xlsxFiles[0].key;\n} else if (xlsxCount === 1) {\n  selectedXlsxKey = xlsxFiles[0].key;\n}\n\n// Prepare plain-text input for AI classification\nconst emailBody = $('Fetch Email').first().json.body || {};\nconst bodyHtml = emailBody.content || '';\nconst bodyText = bodyHtml.replace(/<[^>]*>/g, '').substring(0, 2000);\nconst subject = $input.first().json.emailSubject || '';\nconst xlsxInfo = xlsxFiles.length > 0 ? '\\n\\nAttached XLSX: ' + xlsxFiles.map(f => f.fileName).join(', ') : '';\nconst aiClassifyInput = 'Subject: ' + subject + '\\n\\nBody:\\n' + bodyText + xlsxInfo;\n\nreturn [{ json: {\n  ...$input.first().json,\n  _hasXlsx: hasXlsx,\n  _xlsxCount: xlsxCount,\n  _xlsxNames: xlsxFiles.map(f => f.fileName),\n  _selectedXlsxKey: selectedXlsxKey,\n  _aiClassifyInput: aiClassifyInput\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000300",
      "name": "Classify Attachment"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an email classifier for a pharmaceutical company's pre-order mailbox.\nEmails are most often in Croatian but may be in any language — detect the language and interpret accordingly.\n\nDetermine if this email is a NEW pre-order submission or something else\n(complaint, follow-up, inquiry, status request, delivery issue, etc.)\n\nSigns of a valid new pre-order:\n- Contains product lists with quantities\n- Has an XLSX/spreadsheet attachment (strong signal — order data is typically in the file, not the email body)\n- Subject mentions ordering keywords (e.g. Croatian: \"prednarudžba\", \"narudžba\"; English: \"preorder\", \"order\")\n- Straightforward order submission tone\n\nSigns of a NON-order:\n- Complaints about undelivered items (e.g. \"neisporučeni\", \"undelivered\")\n- References to a previous order (e.g. \"ponavljam\", \"sent earlier\")\n- Requests for free/gratis items delivery\n- Status inquiries or general questions\n- Forwarded correspondence about existing orders\n- Internal replies from company staff (@medika.hr) confirming an order was processed\n  (e.g. \"Ispisano\", \"Napravljeno\", \"Gotovo\", \"Riješeno\" = already handled)\n- HR announcements, newsletters, or administrative notices (e.g. \"Novi član tima\")\n\nReturn ONLY raw JSON, no markdown: {\"isOrder\": true/false, \"reason\": \"brief reason\"}"
            },
            {
              "content": "={{ $json._aiClassifyInput }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2656,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000310",
      "name": "AI: Classify Email",
      "credentials": {
        "openAiApi": {
          "id": "KRVpI7DXsh84tzkO",
          "name": "OpenAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst upstream = $('Classify Attachment').first().json;\n\nlet aiText = '';\ntry {\n  aiText = (typeof data.text === 'string' && data.text)\n    || (data.output && data.output.find(o => o.type === 'message')?.content?.[0]?.text)\n    || (data.output && data.output[0]?.content?.[0]?.text)\n    || '';\n} catch (e) {\n  // On AI failure, default to treating as valid order (fail open)\n  return [{ json: { ...upstream, _isValidOrder: true, _classificationReason: 'AI parse error: ' + e.message } }];\n}\n\nlet jsonStr = aiText.trim();\nif (jsonStr.startsWith('```')) {\n  jsonStr = jsonStr.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '');\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  // JSON parse failure — fail open\n  return [{ json: { ...upstream, _isValidOrder: true, _classificationReason: 'JSON parse error' } }];\n}\n\nreturn [{\n  json: {\n    ...upstream,\n    _isValidOrder: parsed.isOrder !== false,  // fail open: only block if explicitly false\n    _classificationReason: parsed.reason || ''\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2992,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000311",
      "name": "Parse Classification"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d1000310-0000-4000-8000-000000000001",
              "leftValue": "={{ $json._isValidOrder }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3248,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000312",
      "name": "Is Valid Order?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d1000300-0000-4000-8000-000000000001",
              "leftValue": "={{ $json._hasXlsx }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3472,
        -112
      ],
      "id": "b1000000-0000-4000-8000-000000000301",
      "name": "Has XLSX?"
    },
    {
      "parameters": {
        "jsCode": "// Re-attach binary data from trigger and carry config\n// Put the selected XLSX attachment into the 'data' key so WF-03 parser picks it up\nconst emailMeta = $('Extract Email Metadata').first().json;\nconst config = $('Config').first().json;\nconst classifyData = $('Classify Attachment').first().json;\n\nconst binary = $('Fetch Email').first().binary || {};\nconst binaryKeys = Object.keys(binary);\nconst renamedBinary = {};\n\n// Use the pre-selected XLSX key from Classify Attachment (handles multi-XLSX filtering)\nconst xlsxKey = classifyData._selectedXlsxKey;\n\nif (xlsxKey && binary[xlsxKey]) {\n  renamedBinary.data = binary[xlsxKey];\n  for (const key of binaryKeys) {\n    if (key !== xlsxKey) renamedBinary[key] = binary[key];\n  }\n} else if (binaryKeys.length > 0) {\n  // Fallback: use first attachment if no XLSX found\n  renamedBinary.data = binary[binaryKeys[0]];\n  for (let i = 1; i < binaryKeys.length; i++) {\n    renamedBinary[binaryKeys[i]] = binary[binaryKeys[i]];\n  }\n}\n\nreturn [{\n  json: {\n    config: config,\n    senderEmail: emailMeta.senderEmail,\n    emailSubject: emailMeta.emailSubject,\n    emailId: emailMeta.emailId,\n    receivedAt: emailMeta.receivedAt,\n    businessCenter: config.businessCenterDefault,\n    defaultDiscountPerc: config.defaultDiscountPerc\n  },\n  binary: renamedBinary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3712,
        -208
      ],
      "id": "b1000000-0000-4000-8000-000000000020",
      "name": "Prepare Parser Input"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "aPemJbybULEIfOEP"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3952,
        -208
      ],
      "id": "b1000000-0000-4000-8000-000000000021",
      "name": "WF-03: Parse XLSX",
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "d1000003-0000-4000-8000-000000000001",
              "leftValue": "={{ $json.matched }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4192,
        -208
      ],
      "id": "b1000000-0000-4000-8000-000000000022",
      "name": "Parse Succeeded?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4448,
        -64
      ],
      "id": "b1000000-0000-4000-8000-000000000030",
      "name": "Parse Failed"
    },
    {
      "parameters": {
        "jsCode": "// Package email body and metadata for WF-08\nconst emailMeta = $('Extract Email Metadata').first().json;\nconst config = $('Config').first().json;\nconst emailBody = $('Fetch Email').first().json.body || {};\n\nreturn [{\n  json: {\n    emailBodyHtml: emailBody.content || '',\n    emailBodyType: emailBody.contentType || 'html',\n    senderEmail: emailMeta.senderEmail,\n    emailSubject: emailMeta.emailSubject,\n    config: config\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3712,
        128
      ],
      "id": "b1000000-0000-4000-8000-000000000302",
      "name": "Prepare Body Parser Input"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "j1ILANN0gjr0c2GF"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3952,
        128
      ],
      "id": "b1000000-0000-4000-8000-000000000303",
      "name": "WF-08: Parse Email Body",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d1000304-0000-4000-8000-000000000001",
              "leftValue": "={{ $json.matched }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4192,
        128
      ],
      "id": "b1000000-0000-4000-8000-000000000304",
      "name": "Body Parse Succeeded?"
    },
    {
      "parameters": {
        "jsCode": "// Build warning/error notification email for admin\n// Includes full original email body and forwards attachments\nconst emailMeta = $('Extract Email Metadata').first().json;\nconst config = $('Config').first().json;\nconst emailBody = $('Fetch Email').first().json.body || {};\nconst originalHtml = emailBody.content || '';\n\n// Detect which error branch\nconst inputData = $input.first().json;\nconst isAiNonOrder = inputData._isValidOrder === false;\nconst classifyData = $('Classify Attachment').first().json;\nconst isXlsxPath = classifyData._hasXlsx === true;\nconst isMultiXlsx = (classifyData._xlsxCount || 0) >= 2;\n\nlet title, description, errorType;\nif (isMultiXlsx) {\n  errorType = 'multiple_xlsx';\n  title = 'Multiple XLSX Attachments';\n  description = 'The email contains ' + classifyData._xlsxCount + ' spreadsheet attachments ('\n    + (classifyData._xlsxNames || []).join(', ')\n    + '). Only one spreadsheet per email is supported. '\n    + 'Please ask the sender to send one spreadsheet per email, or process manually.';\n} else if (isAiNonOrder) {\n  errorType = 'not_an_order';\n  title = 'Email Classified as Non-Order';\n  description = 'The AI classifier determined this email is not a new pre-order. '\n    + 'Reason: ' + (inputData._classificationReason || 'N/A') + '. '\n    + 'Please review the original email below and process manually if needed.';\n} else if (isXlsxPath) {\n  errorType = 'xlsx_parse_failed';\n  title = 'XLSX Parse Failed';\n  description = 'An XLSX attachment was found but could not be parsed into order data. '\n    + 'Either the file is corrupted, password-protected, or in an unexpected format, '\n    + 'or the email does not contain an actual order.';\n} else {\n  errorType = 'no_order_data';\n  title = 'No Order Data Found';\n  description = 'No XLSX attachment was found and no order data could be extracted from the email body.';\n}\n\nconst html = '<div style=\"font-family: Arial, sans-serif; max-width: 600px;\">'\n  + '<h2 style=\"color: #d35400;\">' + title + '</h2>'\n  + '<p>' + description + '</p>'\n  + '<table style=\"border-collapse: collapse; width: 100%; margin: 16px 0;\">'\n  + '<tr><td style=\"padding: 8px; border: 1px solid #ddd; font-weight: bold;\">From</td>'\n  + '<td style=\"padding: 8px; border: 1px solid #ddd;\">' + emailMeta.senderEmail + '</td></tr>'\n  + '<tr><td style=\"padding: 8px; border: 1px solid #ddd; font-weight: bold;\">Subject</td>'\n  + '<td style=\"padding: 8px; border: 1px solid #ddd;\">' + emailMeta.emailSubject + '</td></tr>'\n  + '<tr><td style=\"padding: 8px; border: 1px solid #ddd; font-weight: bold;\">Received</td>'\n  + '<td style=\"padding: 8px; border: 1px solid #ddd;\">' + emailMeta.receivedAt + '</td></tr>'\n  + '<tr><td style=\"padding: 8px; border: 1px solid #ddd; font-weight: bold;\">Error Type</td>'\n  + '<td style=\"padding: 8px; border: 1px solid #ddd;\">' + errorType + '</td></tr>'\n  + '</table>'\n  + '<h3>Original Email:</h3>'\n  + '<div style=\"background: #f9f9f9; padding: 12px; border-left: 3px solid #d35400;\">'\n  + originalHtml\n  + '</div>'\n  + '<p style=\"color: #888; margin-top: 16px;\">The email has been moved to the Error folder. Please review manually.</p>'\n  + '</div>';\n\n// Encode attachments into JSON (binary gets dropped by downstream Set/Execute nodes)\nconst binary = $('Fetch Email').first().binary || {};\nconst attachments = [];\nfor (const key of Object.keys(binary)) {\n  const b = binary[key];\n  if (b.data) {\n    attachments.push({\n      '@odata.type': '#microsoft.graph.fileAttachment',\n      name: b.fileName || key,\n      contentType: b.mimeType || 'application/octet-stream',\n      contentBytes: b.data\n    });\n  }\n}\n\n// Build complete sendMail payload\nconst subject = '[Medika Pre-Orders] ' + title + ' - ' + emailMeta.emailSubject;\nconst message = {\n  subject,\n  body: { contentType: 'HTML', content: html },\n  toRecipients: [{ emailAddress: { address: config.notifyEmail } }]\n};\nif (attachments.length > 0) {\n  message.attachments = attachments;\n}\n\nreturn [{\n  json: {\n    sendMailPayload: { message },\n    errorType: errorType,\n    moveToError: true\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4736,
        16
      ],
      "id": "b1000000-0000-4000-8000-000000000305",
      "name": "Build Warning Email"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1b-ste-001",
              "name": "tokenType",
              "value": "graph_api",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4976,
        16
      ],
      "id": "b1000000-0000-4000-8000-000000000163",
      "name": "Set Token (Error)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "a3WFhbGvOKzV81xE"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5232,
        16
      ],
      "id": "b1000000-0000-4000-8000-000000000164",
      "name": "WF-00b: Refresh Token (Error)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $env.MS_GRAPH_MAILBOX_SEND_TEST }}/sendMail",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('WF-00b: Refresh Token (Error)').first().json.accessToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Build Warning Email').first().json.sendMailPayload) }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5488,
        16
      ],
      "id": "b1000000-0000-4000-8000-000000000306",
      "name": "Send Warning Email",
      "webhookId": "2c2a1db2-19a6-45a4-b752-e5dca40bdb71"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "b1b-move-001",
              "leftValue": "={{ $('Build Warning Email').first().json.moveToError }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5728,
        16
      ],
      "id": "b1000000-0000-4000-8000-000000000410",
      "name": "Should Move to Error?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $env.MS_GRAPH_MAILBOX_READ_TEST }}/messages/{{ $('Extract Email Metadata').first().json.emailId }}/move",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('WF-00b: Refresh Token (Error)').first().json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"destinationId\": \"%%MS_FOLDER_ERROR_ID%%\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5984,
        16
      ],
      "id": "b1000000-0000-4000-8000-000000000072",
      "name": "Move to Error",
      "webhookId": "fcc63d92-044d-45e8-870d-699d33661036"
    },
    {
      "parameters": {
        "jsCode": "// Consolidate all upstream data for WF-09: Process Order subflow\nconst parseResult = $input.first().json;\nconst emailMeta = $('Extract Email Metadata').first().json;\nconst config = $('Config').first().json;\nconst erpToken = $('WF-00b: Get ERP Token').first().json.accessToken;\nconst emailBody = $('Fetch Email').first().json.body || {};\nconst binary = $('Fetch Email').first().binary || {};\n\nreturn [{\n  json: {\n    ...parseResult,\n    emailId: emailMeta.emailId,\n    senderEmail: emailMeta.senderEmail,\n    emailSubject: emailMeta.emailSubject,\n    receivedAt: emailMeta.receivedAt,\n    config: config,\n    accessToken: erpToken,\n    emailBody: emailBody,\n    emailBodyHtml: emailBody.content || ''\n  },\n  binary: binary\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4448,
        -336
      ],
      "id": "b1000000-0000-4000-8000-000000000400",
      "name": "Prepare Order Input"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "DpdMh7gSlEVdcCms"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4688,
        -336
      ],
      "id": "b1000000-0000-4000-8000-000000000401",
      "name": "WF-09: Process Order"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Graph Token Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Graph Token Type": {
      "main": [
        [
          {
            "node": "WF-00b: Get Graph Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-00b: Get Graph Token": {
      "main": [
        [
          {
            "node": "Fetch Email Raw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Email Raw": {
      "main": [
        [
          {
            "node": "Fetch Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Email": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "WF-00b: Get ERP Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-00b: Get ERP Token": {
      "main": [
        [
          {
            "node": "Extract Email Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email Metadata": {
      "main": [
        [
          {
            "node": "Classify Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Attachment": {
      "main": [
        [
          {
            "node": "AI: Classify Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Classify Email": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification": {
      "main": [
        [
          {
            "node": "Is Valid Order?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid Order?": {
      "main": [
        [
          {
            "node": "Has XLSX?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Warning Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has XLSX?": {
      "main": [
        [
          {
            "node": "Prepare Parser Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Body Parser Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Parser Input": {
      "main": [
        [
          {
            "node": "WF-03: Parse XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-03: Parse XLSX": {
      "main": [
        [
          {
            "node": "Parse Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Succeeded?": {
      "main": [
        [
          {
            "node": "Prepare Order Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Failed": {
      "main": [
        [
          {
            "node": "Build Warning Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Body Parser Input": {
      "main": [
        [
          {
            "node": "WF-08: Parse Email Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-08: Parse Email Body": {
      "main": [
        [
          {
            "node": "Body Parse Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Body Parse Succeeded?": {
      "main": [
        [
          {
            "node": "Prepare Order Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Warning Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Warning Email": {
      "main": [
        [
          {
            "node": "Set Token (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Token (Error)": {
      "main": [
        [
          {
            "node": "WF-00b: Refresh Token (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-00b: Refresh Token (Error)": {
      "main": [
        [
          {
            "node": "Send Warning Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Warning Email": {
      "main": [
        [
          {
            "node": "Should Move to Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Move to Error?": {
      "main": [
        [
          {
            "node": "Move to Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Order Input": {
      "main": [
        [
          {
            "node": "WF-09: Process Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": []
}
