workflows/test/medika-preorders/01b_process_email.json
{
  "name": "[medika-preorders-test] WF-01b: Process Email",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-process-email",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1520,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000200",
      "name": "Webhook",
      "webhookId": "process-email-webhook-01b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1b-set-001",
              "name": "tokenType",
              "value": "graph_api",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1744,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000150",
      "name": "Set Graph Token Type"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "bf5SHDMRH1MiEMfr"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1952,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000151",
      "name": "WF-00b: Get Graph Token"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $env.MS_GRAPH_MAILBOX_READ }}/messages/{{ $('Webhook').first().json.body.id }}?$expand=attachments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('WF-00b: Get Graph Token').first().json.accessToken }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000152",
      "name": "Fetch Email Raw"
    },
    {
      "parameters": {
        "jsCode": "// Convert Graph API message with expanded attachments to n8n format\nconst message = $input.first().json;\nconst attachments = message.attachments || [];\nconst binary = {};\n\nfor (let i = 0; i < attachments.length; i++) {\n  const att = attachments[i];\n  if (att.contentBytes) {\n    binary['attachment_' + i] = {\n      data: att.contentBytes,\n      mimeType: att.contentType || 'application/octet-stream',\n      fileName: att.name || 'attachment_' + i,\n      fileSize: att.size || 0\n    };\n  }\n}\n\nconst { attachments: _, ...messageJson } = message;\n\nreturn [{ json: messageJson, binary }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000104",
      "name": "Fetch Email",
      "webhookId": "0926e667-ebba-455c-9d74-eb942ba9b887"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-004",
              "name": "businessCenterDefault",
              "value": "10",
              "type": "string"
            },
            {
              "id": "cfg-005",
              "name": "defaultDiscountPerc",
              "value": "0",
              "type": "number"
            },
            {
              "id": "cfg-006",
              "name": "customersApiPath",
              "value": "/api/Customers2",
              "type": "string"
            },
            {
              "id": "cfg-007",
              "name": "customerCacheTTLHours",
              "value": "24",
              "type": "number"
            },
            {
              "id": "cfg-008",
              "name": "notifyEmail",
              "value": "vlatko.goljevacki@gmail.com",
              "type": "string"
            },
            {
              "id": "cfg-009",
              "name": "errorNotifyEmail",
              "value": "",
              "type": "string"
            },
            {
              "id": "cfg-010",
              "name": "parseHtmlBody",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "cfg-011",
              "name": "aiParsingEnabled",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "cfg-012",
              "name": "tokenType",
              "value": "medika_erp",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2560,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000040",
      "name": "Config"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "bf5SHDMRH1MiEMfr"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2784,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000095",
      "name": "WF-00b: Get ERP Token",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1000001-0000-4000-8000-000000000002",
              "name": "senderEmail",
              "value": "={{ $('Fetch Email').first().json.from.emailAddress.address }}",
              "type": "string"
            },
            {
              "id": "c1000001-0000-4000-8000-000000000004",
              "name": "emailSubject",
              "value": "={{ $('Fetch Email').first().json.subject }}",
              "type": "string"
            },
            {
              "id": "c1000001-0000-4000-8000-000000000005",
              "name": "emailId",
              "value": "={{ $('Fetch Email').first().json.id }}",
              "type": "string"
            },
            {
              "id": "c1000001-0000-4000-8000-000000000006",
              "name": "hasAttachments",
              "value": "={{ $('Fetch Email').first().json.hasAttachments }}",
              "type": "boolean"
            },
            {
              "id": "c1000001-0000-4000-8000-000000000007",
              "name": "receivedAt",
              "value": "={{ $('Fetch Email').first().json.receivedDateTime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3040,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000002",
      "name": "Extract Email Metadata"
    },
    {
      "parameters": {
        "jsCode": "// Check binary attachments for XLSX/XLS files\nconst binary = $('Fetch Email').first().binary || {};\nconst binaryKeys = Object.keys(binary);\nlet hasXlsx = false;\n\nfor (const key of binaryKeys) {\n  const b = binary[key];\n  const fileName = (b.fileName || '').toLowerCase();\n  const mimeType = (b.mimeType || '').toLowerCase();\n  if (fileName.endsWith('.xlsx') || fileName.endsWith('.xls') ||\n      mimeType.includes('spreadsheetml') || mimeType.includes('ms-excel')) {\n    hasXlsx = true;\n    break;\n  }\n}\n\nreturn [{ json: { ...$input.first().json, _hasXlsx: hasXlsx } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000300",
      "name": "Classify Attachment"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d1000300-0000-4000-8000-000000000001",
              "leftValue": "={{ $json._hasXlsx }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3488,
        -96
      ],
      "id": "b1000000-0000-4000-8000-000000000301",
      "name": "Has XLSX?"
    },
    {
      "parameters": {
        "jsCode": "// Re-attach binary data from trigger and carry config\nconst emailMeta = $('Extract Email Metadata').first().json;\nconst config = $('Config').first().json;\n\nconst binary = $('Fetch Email').first().binary || {};\nconst binaryKeys = Object.keys(binary);\nconst renamedBinary = {};\nif (binaryKeys.length > 0) {\n  renamedBinary.data = binary[binaryKeys[0]];\n  for (let i = 1; i < binaryKeys.length; i++) {\n    renamedBinary[binaryKeys[i]] = binary[binaryKeys[i]];\n  }\n}\n\nreturn [{\n  json: {\n    config: config,\n    senderEmail: emailMeta.senderEmail,\n    emailSubject: emailMeta.emailSubject,\n    emailId: emailMeta.emailId,\n    receivedAt: emailMeta.receivedAt,\n    businessCenter: config.businessCenterDefault,\n    defaultDiscountPerc: config.defaultDiscountPerc\n  },\n  binary: renamedBinary\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3712,
        -208
      ],
      "id": "b1000000-0000-4000-8000-000000000020",
      "name": "Prepare Parser Input"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "py2lGeD3fqucgJLN"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3952,
        -208
      ],
      "id": "b1000000-0000-4000-8000-000000000021",
      "name": "WF-03: Parse XLSX",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "d1000003-0000-4000-8000-000000000001",
              "leftValue": "={{ $json.matched }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4192,
        -208
      ],
      "id": "b1000000-0000-4000-8000-000000000022",
      "name": "Parse Succeeded?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4448,
        -64
      ],
      "id": "b1000000-0000-4000-8000-000000000030",
      "name": "Parse Failed"
    },
    {
      "parameters": {
        "jsCode": "// Package email body and metadata for WF-08\nconst emailMeta = $('Extract Email Metadata').first().json;\nconst config = $('Config').first().json;\nconst emailBody = $('Fetch Email').first().json.body || {};\n\nreturn [{\n  json: {\n    emailBodyHtml: emailBody.content || '',\n    emailBodyType: emailBody.contentType || 'html',\n    senderEmail: emailMeta.senderEmail,\n    emailSubject: emailMeta.emailSubject,\n    config: config\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3712,
        128
      ],
      "id": "b1000000-0000-4000-8000-000000000302",
      "name": "Prepare Body Parser Input"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "APAr3L9iv7n8HkLl"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3952,
        128
      ],
      "id": "b1000000-0000-4000-8000-000000000303",
      "name": "WF-08: Parse Email Body",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d1000304-0000-4000-8000-000000000001",
              "leftValue": "={{ $json.matched }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4192,
        128
      ],
      "id": "b1000000-0000-4000-8000-000000000304",
      "name": "Body Parse Succeeded?"
    },
    {
      "parameters": {
        "jsCode": "// Build warning/error notification email for admin\n// Handles both: XLSX parse failure and body parse failure (no order data)\nconst emailMeta = $('Extract Email Metadata').first().json;\nconst config = $('Config').first().json;\nconst emailBody = $('Fetch Email').first().json.body || {};\nconst bodyContent = emailBody.content || '';\nconst excerpt = bodyContent.replace(/<[^>]*>/g, '').substring(0, 500);\n\n// Detect which error branch via the common upstream Classify Attachment node\nconst isXlsxPath = $('Classify Attachment').first().json._hasXlsx === true;\n\nlet title, description, errorType;\nif (isXlsxPath) {\n  errorType = 'xlsx_parse_failed';\n  title = 'XLSX Parse Failed';\n  description = 'An XLSX attachment was found but could not be parsed into order data. '\n    + 'Either the file is corrupted, password-protected, or in an unexpected format. '\n    + 'or the email does not contain an actual order.';\n} else {\n  errorType = 'no_order_data';\n  title = 'No Order Data Found';\n  description = 'No XLSX attachment was found and no order data could be extracted from the email body.';\n}\n\nconst html = '<div style=\"font-family: Arial, sans-serif; max-width: 600px;\">'\n  + '<h2 style=\"color: #d35400;\">' + title + '</h2>'\n  + '<p>' + description + '</p>'\n  + '<table style=\"border-collapse: collapse; width: 100%; margin: 16px 0;\">'\n  + '<tr><td style=\"padding: 8px; border: 1px solid #ddd; font-weight: bold;\">From</td>'\n  + '<td style=\"padding: 8px; border: 1px solid #ddd;\">' + emailMeta.senderEmail + '</td></tr>'\n  + '<tr><td style=\"padding: 8px; border: 1px solid #ddd; font-weight: bold;\">Subject</td>'\n  + '<td style=\"padding: 8px; border: 1px solid #ddd;\">' + emailMeta.emailSubject + '</td></tr>'\n  + '<tr><td style=\"padding: 8px; border: 1px solid #ddd; font-weight: bold;\">Received</td>'\n  + '<td style=\"padding: 8px; border: 1px solid #ddd;\">' + emailMeta.receivedAt + '</td></tr>'\n  + '<tr><td style=\"padding: 8px; border: 1px solid #ddd; font-weight: bold;\">Error Type</td>'\n  + '<td style=\"padding: 8px; border: 1px solid #ddd;\">' + errorType + '</td></tr>'\n  + '</table>'\n  + '<h3>Body Excerpt:</h3>'\n  + '<div style=\"background: #f9f9f9; padding: 12px; border-left: 3px solid #d35400; white-space: pre-wrap;\">'\n  + excerpt + '</div>'\n  + '<p style=\"color: #888; margin-top: 16px;\">The email has been moved to the Error folder. Please review manually.</p>'\n  + '</div>';\n\nreturn [{\n  json: {\n    to: config.notifyEmail,\n    subject: '[Medika Pre-Orders] ' + title + ' - ' + emailMeta.emailSubject,\n    bodyHtml: html,\n    errorType: errorType,\n    moveToError: true\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4736,
        16
      ],
      "id": "b1000000-0000-4000-8000-000000000305",
      "name": "Build Warning Email"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1b-ste-001",
              "name": "tokenType",
              "value": "graph_api",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4976,
        16
      ],
      "id": "b1000000-0000-4000-8000-000000000163",
      "name": "Set Token (Error)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "bf5SHDMRH1MiEMfr"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5232,
        16
      ],
      "id": "b1000000-0000-4000-8000-000000000164",
      "name": "WF-00b: Refresh Token (Error)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $env.MS_GRAPH_MAILBOX_SEND }}/sendMail",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('WF-00b: Refresh Token (Error)').first().json.accessToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: { subject: $('Build Warning Email').first().json.subject, body: { contentType: 'HTML', content: $('Build Warning Email').first().json.bodyHtml }, toRecipients: [{ emailAddress: { address: $('Build Warning Email').first().json.to } }] } }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5488,
        16
      ],
      "id": "b1000000-0000-4000-8000-000000000306",
      "name": "Send Warning Email",
      "webhookId": "2c2a1db2-19a6-45a4-b752-e5dca40bdb71"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "b1b-move-001",
              "leftValue": "={{ $('Build Warning Email').first().json.moveToError }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5728,
        16
      ],
      "id": "b1000000-0000-4000-8000-000000000410",
      "name": "Should Move to Error?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $env.MS_GRAPH_MAILBOX_READ }}/messages/{{ $('Extract Email Metadata').first().json.emailId }}/move",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('WF-00b: Refresh Token (Error)').first().json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"destinationId\": \"AAMkAGFkNDcyN2QxLWRlNjItNDNlNC05OTAxLTI3OTAyZjQxNDkyMwAuAAAAAAD-mcdOUa3OSLpHjBkPvPw4AQANdmeaGmDXS5HQxLaid2iyAAAAWzvbAAA=\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5984,
        16
      ],
      "id": "b1000000-0000-4000-8000-000000000072",
      "name": "Move to Error",
      "webhookId": "fcc63d92-044d-45e8-870d-699d33661036"
    },
    {
      "parameters": {
        "jsCode": "// Consolidate all upstream data for WF-09: Process Order subflow\nconst parseResult = $input.first().json;\nconst emailMeta = $('Extract Email Metadata').first().json;\nconst config = $('Config').first().json;\nconst erpToken = $('WF-00b: Get ERP Token').first().json.accessToken;\nconst emailBody = $('Fetch Email').first().json.body || {};\nconst binary = $('Fetch Email').first().binary || {};\n\nreturn [{\n  json: {\n    ...parseResult,\n    emailId: emailMeta.emailId,\n    senderEmail: emailMeta.senderEmail,\n    emailSubject: emailMeta.emailSubject,\n    receivedAt: emailMeta.receivedAt,\n    config: config,\n    accessToken: erpToken,\n    emailBody: emailBody,\n    emailBodyHtml: emailBody.content || ''\n  },\n  binary: binary\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4448,
        -336
      ],
      "id": "b1000000-0000-4000-8000-000000000400",
      "name": "Prepare Order Input"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "v827YIZiFzxIXMD4"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4688,
        -336
      ],
      "id": "b1000000-0000-4000-8000-000000000401",
      "name": "WF-09: Process Order"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Graph Token Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Graph Token Type": {
      "main": [
        [
          {
            "node": "WF-00b: Get Graph Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-00b: Get Graph Token": {
      "main": [
        [
          {
            "node": "Fetch Email Raw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Email Raw": {
      "main": [
        [
          {
            "node": "Fetch Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Email": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "WF-00b: Get ERP Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-00b: Get ERP Token": {
      "main": [
        [
          {
            "node": "Extract Email Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email Metadata": {
      "main": [
        [
          {
            "node": "Classify Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Attachment": {
      "main": [
        [
          {
            "node": "Has XLSX?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has XLSX?": {
      "main": [
        [
          {
            "node": "Prepare Parser Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Body Parser Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Parser Input": {
      "main": [
        [
          {
            "node": "WF-03: Parse XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-03: Parse XLSX": {
      "main": [
        [
          {
            "node": "Parse Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Succeeded?": {
      "main": [
        [
          {
            "node": "Prepare Order Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Failed": {
      "main": [
        [
          {
            "node": "Build Warning Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Body Parser Input": {
      "main": [
        [
          {
            "node": "WF-08: Parse Email Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-08: Parse Email Body": {
      "main": [
        [
          {
            "node": "Body Parse Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Body Parse Succeeded?": {
      "main": [
        [
          {
            "node": "Prepare Order Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Warning Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Warning Email": {
      "main": [
        [
          {
            "node": "Set Token (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Token (Error)": {
      "main": [
        [
          {
            "node": "WF-00b: Refresh Token (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-00b: Refresh Token (Error)": {
      "main": [
        [
          {
            "node": "Send Warning Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Warning Email": {
      "main": [
        [
          {
            "node": "Should Move to Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Move to Error?": {
      "main": [
        [
          {
            "node": "Move to Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Order Input": {
      "main": [
        [
          {
            "node": "WF-09: Process Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": []
}
