workflows/test/medika-preorders/03_xlsx_parser.json
{
  "name": "[medika-preorders-test] WF-03: XLSX Parser",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -736,
        0
      ],
      "id": "f3000000-0000-4000-8000-000000000001",
      "name": "Sub-Workflow Input"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -448,
        0
      ],
      "id": "f3000000-0000-4000-8000-000000000002",
      "name": "Parse XLSX"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst KNOWN_HEADERS = {\n  drugCode: ['šifra proizvoda', 'sifra proizvoda', 'šifra artikla', 'sifra artikla', 'šifra materijala', 'sifra materijala', 'artikl_sifra', 'drug_code', 'product_code', 'code', 'rbr', 'šifra', 'sifra'],\n  articleName: ['naziv proizvoda', 'naziv artikla', 'naziv materijala', 'naziv_artikla', 'artikl', 'proizvod', 'opis', 'naziv', 'name', 'description'],\n  quantity: ['količina', 'kolicina', 'qty', 'kom', 'amount', 'naručeno', 'naruceno', 'kol'],\n  pharmacyId: ['šifra primatelja', 'sifra primatelja', 'šifra ljekarne', 'sifra ljekarne', 'šifra kupca', 'sifra kupca', 'ljekarna_id', 'pharmacy_id', 'id_ljekarne', 'kupac'],\n  pharmacyName: ['naziv ljekarne', 'naziv_ljekarne', 'naziv kupca', 'kupac_naziv', 'naziv 1', 'ljekarna'],\n  unit: ['jedinica', 'mjera', 'jm', 'unit'],\n  discount: ['rabat', 'popust', 'discount'],\n  notes: ['napomena', 'komentar', 'notes', 'comment']\n};\n\n// Excel error values to filter out (from broken VLOOKUP, #REF!, etc.)\nconst EXCEL_ERRORS = new Set(['#N/A', '#REF!', '#VALUE!', '#NAME?', '#DIV/0!', '#NULL!', '#NUM!']);\n\nif (items.length === 0) {\n  return [{ json: { matched: false, error: 'No data in spreadsheet', orderLines: [] } }];\n}\n\n// Get ALL unique column headers across all rows (some rows may have extra columns)\nconst headerSet = new Set();\nfor (const item of items) {\n  for (const key of Object.keys(item.json)) {\n    headerSet.add(key);\n  }\n}\nconst headers = Array.from(headerSet);\nconst mapping = {};\nconst usedHeaders = new Set();\n\n// Normalize a header string\nfunction norm(s) {\n  return s.toLowerCase().trim()\n    .replace(/[\\n\\r\\t]+/g, ' ')\n    .replace(/[^a-z0-9šđčćž ]/gi, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\n// Pass 1: exact matches only (longer patterns listed first = more specific)\nfor (const [field, patterns] of Object.entries(KNOWN_HEADERS)) {\n  if (mapping[field]) continue;\n  for (const header of headers) {\n    if (usedHeaders.has(header)) continue;\n    const normalized = norm(header);\n    if (patterns.some(p => normalized === p)) {\n      mapping[field] = header;\n      usedHeaders.add(header);\n      break;\n    }\n  }\n}\n\n// Pass 2: partial (includes) matches — prefer longer (more specific) patterns\nconst candidates = [];\nfor (const [field, patterns] of Object.entries(KNOWN_HEADERS)) {\n  if (mapping[field]) continue;\n  for (const header of headers) {\n    if (usedHeaders.has(header)) continue;\n    const normalized = norm(header);\n    for (const p of patterns) {\n      if (normalized.includes(p)) {\n        candidates.push({ field, header, len: p.length });\n      }\n    }\n  }\n}\ncandidates.sort((a, b) => b.len - a.len);\nfor (const c of candidates) {\n  if (mapping[c.field] || usedHeaders.has(c.header)) continue;\n  mapping[c.field] = c.header;\n  usedHeaders.add(c.header);\n}\n\n// Pass 3: value-based pharmacyId detection\n// If pharmacyId is still unmapped, scan unmapped columns for 10-digit numbers starting with 7\nif (!mapping.pharmacyId) {\n  let bestCol = null;\n  let bestCount = 0;\n  for (const header of headers) {\n    if (usedHeaders.has(header)) continue;\n    let matchCount = 0;\n    let mismatchCount = 0;\n    for (const item of items) {\n      const val = String(item.json[header] ?? '').trim();\n      if (!val) continue;\n      if (val.startsWith('7') && /^\\d+$/.test(val)) matchCount++;\n      else mismatchCount++;\n    }\n    if (matchCount > 0 && mismatchCount === 0 && matchCount > bestCount) {\n      bestCol = header;\n      bestCount = matchCount;\n    }\n  }\n  if (bestCol) {\n    mapping.pharmacyId = bestCol;\n    usedHeaders.add(bestCol);\n  }\n}\n\nconst hasDrugId = mapping.drugCode || mapping.articleName;\nconst hasQuantity = mapping.quantity;\n\nif (!hasDrugId || !hasQuantity) {\n  // Rule-based detection failed — return raw data for AI fallback\n  return [{\n    json: {\n      matched: false,\n      headers: headers,\n      mapping: mapping,\n      rawData: items.map(item => item.json),\n      orderLines: []\n    }\n  }];\n}\n\n// Excel stores percentages as decimals (30% → 0.3).\n// Medika API expects whole numbers (30 = 30%).\nfunction normalizeDiscount(val) {\n  if (val > 0 && val < 1) return parseFloat((val * 100).toFixed(2));\n  return val;\n}\n\n// Normalize to canonical format\nconst orderLines = items.map((item, idx) => {\n  const row = item.json;\n  // Skip rows with Excel error values in key columns\n  const pharmacyVal = mapping.pharmacyId ? String(row[mapping.pharmacyId] || '') : '';\n  const drugVal = mapping.drugCode ? String(row[mapping.drugCode] || '') : '';\n  if (EXCEL_ERRORS.has(pharmacyVal) || EXCEL_ERRORS.has(drugVal)) return null;\n\n  const qty = mapping.quantity ? Number(row[mapping.quantity]) || 0 : 0;\n  if (qty <= 0) return null; // skip empty rows\n\n  return {\n    sourceSheet: 'Sheet1',\n    sourceRow: idx + 2,\n    pharmacyId: mapping.pharmacyId ? String(row[mapping.pharmacyId] || '') : null,\n    pharmacyName: mapping.pharmacyName ? String(row[mapping.pharmacyName] || '') : null,\n    drugCode: mapping.drugCode ? String(row[mapping.drugCode] || '') : null,\n    articleName: mapping.articleName ? String(row[mapping.articleName] || '') : null,\n    quantity: qty,\n    unit: mapping.unit ? String(row[mapping.unit] || 'kom') : 'kom',\n    discount: mapping.discount ? (normalizeDiscount(Number(row[mapping.discount]) || 0) >= 100 ? 0 : normalizeDiscount(Number(row[mapping.discount]) || 0)) : null,\n    notes: mapping.notes ? String(row[mapping.notes] || '') : '',\n    parseMethod: 'RULE_BASED',\n    parseConfidence: 1.0,\n    rawData: row\n  };\n}).filter(Boolean);\n\n// Forward-fill pharmacyId/pharmacyName for grouped layouts\n// (pharmacy ID appears once, applies to all rows below until next pharmacy)\nif (mapping.pharmacyId) {\n  let lastPharmacyId = null;\n  let lastPharmacyName = null;\n  for (const line of orderLines) {\n    if (line.pharmacyId) {\n      lastPharmacyId = line.pharmacyId;\n      lastPharmacyName = line.pharmacyName;\n    } else if (lastPharmacyId) {\n      line.pharmacyId = lastPharmacyId;\n      line.pharmacyName = lastPharmacyName;\n    }\n  }\n}\n\n// Validate data quality — detect issues that need AI handling\nconst issues = [];\nif (mapping.pharmacyId && orderLines.some(l => !l.pharmacyId)) {\n  issues.push('empty_pharmacy_ids');\n}\nif (mapping.drugCode && orderLines.some(l => !l.drugCode)) {\n  issues.push('empty_drug_codes');\n}\n\nif (issues.length > 0) {\n  return [{\n    json: {\n      matched: false,\n      headers: headers,\n      mapping: mapping,\n      issues: issues,\n      rawData: items.map(item => item.json),\n      orderLines: []\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    matched: true,\n    mapping: mapping,\n    lineCount: orderLines.length,\n    orderLines: orderLines\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        192
      ],
      "id": "f3000000-0000-4000-8000-000000000003",
      "name": "Detect Columns & Normalize"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f3000000-cond-4000-8000-000000000001",
              "leftValue": "={{ $json.matched }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        432,
        192
      ],
      "id": "f3000000-0000-4000-8000-000000000004",
      "name": "Detection Succeeded?"
    },
    {
      "parameters": {
        "jsCode": "// Parse the extraction LLM response (single response, not chunked)\nconst data = $input.first().json;\nlet aiText = '';\n\ntry {\n  aiText = (typeof data.text === 'string' && data.text)\n    || (data.output && data.output.find(o => o.type === 'message')?.content?.[0]?.text)\n    || (data.output && data.output[0]?.content?.[0]?.text)\n    || '';\n  if (!aiText) throw new Error('Empty response from LLM');\n} catch (e) {\n  return [{ json: { matched: false, error: 'Failed to parse LLM response: ' + e.message, orderLines: [] } }];\n}\n\nlet jsonStr = aiText.trim();\nif (jsonStr.startsWith('```')) {\n  jsonStr = jsonStr.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '');\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  const match = jsonStr.match(/\\[[\\s\\S]*\\]/);\n  if (match) {\n    try { parsed = JSON.parse(match[0]); }\n    catch (e2) { return [{ json: { matched: false, error: 'Invalid JSON from LLM: ' + e.message, orderLines: [] } }]; }\n  } else {\n    return [{ json: { matched: false, error: 'No JSON array in LLM response', orderLines: [] } }];\n  }\n}\n\nif (!Array.isArray(parsed)) {\n  return [{ json: { matched: false, error: 'LLM did not return an array', orderLines: [] } }];\n}\n\nconst orderLines = parsed.map(line => ({\n  sourceSheet: line.sourceSheet || 'Sheet1',\n  sourceRow: null,\n  pharmacyId: line.pharmacyId || null,\n  pharmacyName: line.pharmacyName || null,\n  drugCode: line.drugCode ? String(line.drugCode) : null,\n  articleName: line.articleName ? String(line.articleName) : null,\n  quantity: Number(line.quantity) || 1,\n  unit: line.unit || 'kom',\n  discount: line.discount != null ? (Number(line.discount) || 0) : 0,\n  notes: line.notes || '',\n  parseMethod: 'AI_EXTRACTED',\n  rawData: line\n}));\n\nif (orderLines.length === 0) {\n  return [{ json: { matched: false, error: 'No order lines extracted', orderLines: [] } }];\n}\n\n// Build compact version for verification prompt (no rawData, saves tokens)\nconst compactLines = orderLines.map(l => ({\n  drugCode: l.drugCode,\n  articleName: l.articleName,\n  quantity: l.quantity,\n  unit: l.unit,\n  pharmacyId: l.pharmacyId,\n  pharmacyName: l.pharmacyName,\n  discount: l.discount,\n  sourceSheet: l.sourceSheet\n}));\n\n// Build verification prompt — LLM2 corrects data but must not change discount\nconst verifyPrompt = 'You are a data verification assistant for Croatian pharmacy pre-orders.\\n\\n'\n  + 'Use Python (pandas/openpyxl) to re-read the uploaded XLSX file independently. '\n  + 'Compare the source data against the extracted order lines below.\\n\\n'\n  + 'Check for:\\n'\n  + '- Wrong quantities (MOST CRITICAL \\u2014 must match source exactly; empty/blank qty = 1, not 0)\\n'\n  + '- Missing order lines (rows with product codes not extracted)\\n'\n  + '- Wrong drug codes or article names\\n'\n  + '- Wrong or missing pharmacy IDs (forward-fill from previous row if empty in grouped layouts)\\n'\n  + '- Hallucinated lines not in the source file\\n'\n  + '- Lines from ALL sheets, not just the first\\n'\n  + '- DUPLICATES: Same (pharmacyId + drugCode) from multiple sheets\\n'\n  + '- HALLUCINATED DATA: Verify every pharmacyId and drugCode actually appears as a cell value\\n'\n  + '- TOTALS ROWS: Totals/summary rows (UKUPNO, TOTAL) misinterpreted as order lines\\n\\n'\n  + 'IMPORTANT: Do NOT change the \"discount\" field in the JSON. Copy it exactly as-is from the extracted lines. Excel stores percentages as decimals (10% = 0.1) and the extraction already converted them to whole numbers. Do not \"correct\" them back.\\n\\n'\n  + 'Return ONLY a raw JSON object (no markdown, no explanation):\\n'\n  + '{\"lines\": [...corrected order lines...], \"issues\": [\"description of each change made\"], \"confidence\": <0-100>}\\n\\n'\n  + 'The lines array uses the same schema as below. The issues array describes each correction.\\n'\n  + 'The confidence field is your 0-100 estimate of extraction accuracy after verification.\\n'\n  + 'If everything is correct, return the lines unchanged with an empty issues array.\\n'\n  + 'Write the issues descriptions in Croatian.\\n\\n'\n  + 'Extracted order lines to verify:\\n'\n  + JSON.stringify(compactLines);\n\nreturn [{\n  json: {\n    matched: true,\n    parseConfidence: 70,\n    lineCount: orderLines.length,\n    orderLines: orderLines,\n    verifyPrompt: verifyPrompt\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        64
      ],
      "id": "f3000000-0000-4000-8000-000000000007",
      "name": "Parse AI Response"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "GPT-5.2"
        },
        "responses": {
          "values": [
            {
              "type": "file",
              "fileType": "fileId",
              "fileId": "={{ $('Upload XLSX to OpenAI').first().json.id }}"
            },
            {
              "role": "system",
              "content": "You are an expert data extraction assistant for Croatian pharmacy pre-orders.\n\nUse Python (pandas and openpyxl) to read the uploaded XLSX file and extract all order lines.\n\nInstructions:\n1. Read ALL sheets in the workbook\n2. Detect header rows by content (look for: šifra, artikl, naziv, količina, qty, kom, rabat, kupac, ljekarna, jm, kol, naručeno)\n3. Handle merged cells — unmerge and forward-fill values\n4. Extract every row that contains a product code (drugCode) or article name\n\nReturn ONLY a raw JSON array. No markdown fences, no explanation, no extra text.\n\nEach element must have this schema:\n{\"drugCode\": \"string or null\", \"articleName\": \"string or null\", \"quantity\": number, \"unit\": \"string\", \"pharmacyId\": \"string or null\", \"pharmacyName\": \"string or null\", \"discount\": number, \"notes\": \"string\", \"sourceSheet\": \"string\"}\n\nField details:\n- drugCode: product code string (e.g. \"3001234\" regular, \"9301234\" gratis) or null\n- articleName: product name string or null\n- quantity: exact number from quantity column. If the quantity cell is empty/blank, default to 1 — the product's presence in the sheet means it was ordered\n- unit: default \"kom\"\n- pharmacyId: 10-digit string starting with \"7700\" or null. Look for labels/headers like: Šifra, Šifra primatelja, Ljekarna, code, deliveryLocation — may appear as \"7700xxxxxx\" in any cell. IMPORTANT: In grouped layouts, the pharmacy ID may appear only once and apply to all rows below until the next pharmacy. Forward-fill empty pharmacyId cells from the row above\n- pharmacyName: pharmacy name string or null\n- discount: percentage as a WHOLE NUMBER (e.g. 12 means 12%, 7.5 means 7.5%). Excel stores percentages as decimals — ALWAYS convert: 0.12 → 12, 0.3 → 30, 0.075 → 7.5. If a value is between 0 and 1 (exclusive), multiply by 100. Default 0\n- notes: default \"\"\n- sourceSheet: the sheet name this line came from\n\nRules:\n- Extract ALL order lines from ALL sheets\n- Pharmacy info may appear in metadata rows above the table — apply to all lines in that section\n- Multiple sections (REDOVNE ŠIFRE, GRATIS ŠIFRE) or pharmacies may appear — extract all\n- Gratis (free) is different from discount. Gratis items have codes starting with 9 (e.g. 930xxxx). Extract them normally with discount: 0\n- Skip: empty rows, section labels, column header rows\n- SKIP TOTALS: Rows labeled TOTAL, UKUPNO, or summary rows with aggregated numbers are NOT order lines. Never treat a totals row as a pharmacy or order.\n- Preserve exact quantities from source — never guess or sum across sheets\n- DEDUPLICATION: Multiple sheets may contain the SAME data in different layouts (e.g. a pivot table and a flat table). After extracting, deduplicate by (pharmacyId + drugCode) — if the same combination appears from multiple sheets, keep only one copy.\n- HALLUCINATION CHECK: Only output pharmacyIds and drugCodes that literally appear as cell values in the file. Never infer or compute IDs."
            }
          ]
        },
        "builtInTools": {
          "codeInterpreter": true
        },
        "options": {
          "maxTokens": 16384
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1440,
        112
      ],
      "id": "2cc55bd5-0292-4f6b-8a71-c44469046829",
      "name": "LLM: Extract Order Lines",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000,
      "credentials": {
        "openAiApi": {
          "id": "KRVpI7DXsh84tzkO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "type": "file",
              "fileType": "fileId",
              "fileId": "={{ $('Upload XLSX to OpenAI').first().json.id }}"
            },
            {
              "role": "system",
              "content": "={{ $json.verifyPrompt }}"
            }
          ]
        },
        "builtInTools": {
          "codeInterpreter": true
        },
        "options": {
          "maxTokens": 16384
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        3024,
        48
      ],
      "id": "f3000000-0000-4000-8000-000000000009",
      "name": "LLM: Verify Extraction",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000,
      "credentials": {
        "openAiApi": {
          "id": "KRVpI7DXsh84tzkO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse verification response — use LLM2 corrections but ALWAYS preserve LLM1 discount\nconst data = $input.first().json;\nlet originalResult;\ntry { originalResult = $('Parse AI Response').first().json; }\ncatch (e) { originalResult = $('Parse Retry Response').first().json; }\n\nif (!originalResult.matched || !originalResult.orderLines || originalResult.orderLines.length === 0) {\n  return [{ json: originalResult }];\n}\n\nlet aiText = '';\ntry {\n  aiText = (typeof data.text === 'string' && data.text)\n    || (data.output && data.output.find(o => o.type === 'message')?.content?.[0]?.text)\n    || (data.output && data.output[0]?.content?.[0]?.text)\n    || '';\n  if (!aiText) throw new Error('Empty response');\n} catch (e) {\n  const result = { ...originalResult };\n  delete result.verifyPrompt;\n  result.verificationIssues = ['Verification failed: ' + e.message];\n  return [{ json: result }];\n}\n\nlet jsonStr = aiText.trim();\nif (jsonStr.startsWith('```')) {\n  jsonStr = jsonStr.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '');\n}\n\nlet verification;\ntry {\n  verification = JSON.parse(jsonStr);\n} catch (e) {\n  const match = jsonStr.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try { verification = JSON.parse(match[0]); }\n    catch (e2) {\n      const result = { ...originalResult };\n      delete result.verifyPrompt;\n      result.verificationIssues = ['Verification returned invalid JSON: ' + e.message];\n      return [{ json: result }];\n    }\n  } else {\n    const result = { ...originalResult };\n    delete result.verifyPrompt;\n    result.verificationIssues = ['Verification returned invalid JSON: ' + e.message];\n    return [{ json: result }];\n  }\n}\n\n// Support both {lines, issues} and plain array formats\nconst verifiedLines = Array.isArray(verification.lines) ? verification.lines\n  : Array.isArray(verification) ? verification\n  : null;\nconst issues = Array.isArray(verification.issues) ? verification.issues : [];\nconst confidence = typeof verification.confidence === 'number' ? Math.round(verification.confidence) : 0;\n\nif (!verifiedLines) {\n  const result = { ...originalResult };\n  delete result.verifyPrompt;\n  result.verificationIssues = ['Verification did not return a lines array'];\n  return [{ json: result }];\n}\n\nconst orderLines = verifiedLines.map(line => {\n  const drugCode = line.drugCode ? String(line.drugCode) : null;\n  const discount = line.discount != null ? (Number(line.discount) || 0) : 0;\n\n  return {\n    sourceSheet: line.sourceSheet || 'Sheet1',\n    sourceRow: null,\n    pharmacyId: line.pharmacyId || null,\n    pharmacyName: line.pharmacyName || null,\n    drugCode: drugCode,\n    articleName: line.articleName ? String(line.articleName) : null,\n    quantity: Number(line.quantity) || 1,\n    unit: line.unit || 'kom',\n    discount: discount,\n    notes: '',\n    parseMethod: 'AI_VERIFIED',\n    rawData: line\n  };\n});\n\nconst result = { ...originalResult };\ndelete result.verifyPrompt;\nresult.verificationIssues = issues;\nresult.parseMethod = 'AI_VERIFIED';\nresult.parseConfidence = confidence;\nresult.orderLines = orderLines;\nresult.lineCount = orderLines.length;\nresult.matched = orderLines.length > 0;\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        48
      ],
      "id": "f3000000-0000-4000-8000-000000000010",
      "name": "Parse Verified Response"
    },
    {
      "parameters": {
        "jsCode": "// The IF node drops binary data. Re-attach the original XLSX binary\n// from the Sub-Workflow Input trigger so the Upload node can use it.\nconst binary = $('Sub-Workflow Input').first().binary || {};\nconst detectResult = $input.first().json;\n\nif (!binary.data) {\n  throw new Error('No XLSX binary found on Sub-Workflow Input');\n}\n\nreturn [{\n  json: detectResult,\n  binary: { data: binary.data }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        112
      ],
      "id": "f3000000-0000-4000-8000-000000000011",
      "name": "Re-attach XLSX Binary"
    },
    {
      "parameters": {
        "resource": "file",
        "options": {
          "purpose": "user_data"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        992,
        112
      ],
      "id": "f3000000-0000-4000-8000-000000000012",
      "name": "Upload XLSX to OpenAI",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "KRVpI7DXsh84tzkO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ai-extract-ok-001",
              "leftValue": "={{ $json.matched }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2720,
        64
      ],
      "name": "AI Extraction OK?",
      "id": "eef5c25b-4aa7-4655-be9a-beb838563058"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 10) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1232,
        112
      ],
      "name": "Random Delay (0-10s)",
      "id": "23adbc33-300d-4b2e-8f05-6f27f0c8f6fa",
      "webhookId": "1f76368b-880a-468c-b6e0-2c18256f1cef"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "naos-email-001",
              "leftValue": "={{ $('Sub-Workflow Input').first().json.senderEmail.toLowerCase() }}",
              "rightValue": "@hr.naos.com",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -176,
        0
      ],
      "name": "Is NAOS Email?",
      "id": "d6a872c5-d243-48cf-8a99-7bfb3d9dbf49"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst rawData = items.map(i => i.json);\nconst headers = [...new Set(items.flatMap(i => Object.keys(i.json)))];\n\n// Check 1: Any cell value contains \"naos\" (case-insensitive)\nconst hasNaos = rawData.some(row =>\n  Object.values(row).some(v => typeof v === 'string' && v.toLowerCase().includes('naos'))\n);\n\n// Check 2: At least one pharmacy ID (starts with 7, multi-digit)\nconst hasPharmacyIds = rawData.some(row =>\n  Object.values(row).some(v => String(v).match(/^7\\d{3,}$/))\n);\n\n// Check 3: At least one discount/subtotal row (2-3 non-null cells, one small decimal)\nconst hasDiscountRows = rawData.some(row => {\n  const vals = Object.values(row);\n  const nonNull = vals.filter(v => v !== null && v !== undefined && v !== '');\n  const hasSmallDecimal = nonNull.some(v =>\n    typeof v === 'number' && v !== 0 && Math.abs(v) < 1\n  );\n  return nonNull.length <= 3 && hasSmallDecimal;\n});\n\nconst isNaosFormat = hasNaos && hasPharmacyIds && hasDiscountRows;\n\nreturn [{ json: { isNaosFormat } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -224
      ],
      "name": "Check NAOS Format",
      "id": "4252bb95-b22c-4d0b-8f00-23b85d58c6e1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "naos-format-001",
              "leftValue": "={{ $json.isNaosFormat }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        400,
        -224
      ],
      "name": "Is NAOS Format?",
      "id": "b8eb8f6c-aa1c-40b0-936a-5cde8444bc35"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { matched: false, error: 'NAOS format — automatska obrada nije podržana', orderLines: [] } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -240
      ],
      "name": "Return NAOS Skip",
      "id": "363d7c38-1a9b-4212-a17f-9943914553f4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "truncated-001",
              "leftValue": "={{ $json.output?.[0]?.status === 'incomplete' || $json.output?.find(o => o.type === 'message')?.status === 'incomplete' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1840,
        112
      ],
      "name": "Was Truncated?",
      "id": "7dcf569b-0956-4fce-870c-8e6f7a62df4a"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "GPT-5.2"
        },
        "responses": {
          "values": [
            {
              "type": "file",
              "fileType": "fileId",
              "fileId": "={{ $('Upload XLSX to OpenAI').first().json.id }}"
            },
            {
              "role": "system",
              "content": "You are an expert data extraction assistant for Croatian pharmacy pre-orders.\n\nUse Python (pandas and openpyxl) to read the uploaded XLSX file and extract all order lines.\n\nInstructions:\n1. Read ALL sheets in the workbook\n2. Detect header rows by content (look for: šifra, artikl, naziv, količina, qty, kom, rabat, kupac, ljekarna, jm, kol, naručeno)\n3. Handle merged cells — unmerge and forward-fill values\n4. Extract every row that contains a product code (drugCode) or article name\n\nReturn ONLY a raw JSON array. No markdown fences, no explanation, no extra text.\n\nEach element must have this schema:\n{\"drugCode\": \"string or null\", \"articleName\": \"string or null\", \"quantity\": number, \"unit\": \"string\", \"pharmacyId\": \"string or null\", \"pharmacyName\": \"string or null\", \"discount\": number, \"notes\": \"string\", \"sourceSheet\": \"string\"}\n\nField details:\n- drugCode: product code string (e.g. \"3001234\" regular, \"9301234\" gratis) or null\n- articleName: product name string or null\n- quantity: exact number from quantity column. If the quantity cell is empty/blank, default to 1 — the product's presence in the sheet means it was ordered\n- unit: default \"kom\"\n- pharmacyId: 10-digit string starting with \"7700\" or null. Look for labels/headers like: Šifra, Šifra primatelja, Ljekarna, code, deliveryLocation — may appear as \"7700xxxxxx\" in any cell. IMPORTANT: In grouped layouts, the pharmacy ID may appear only once and apply to all rows below until the next pharmacy. Forward-fill empty pharmacyId cells from the row above\n- pharmacyName: pharmacy name string or null\n- discount: percentage as a WHOLE NUMBER (e.g. 12 means 12%, 7.5 means 7.5%). Excel stores percentages as decimals — ALWAYS convert: 0.12 → 12, 0.3 → 30, 0.075 → 7.5. If a value is between 0 and 1 (exclusive), multiply by 100. Default 0\n- notes: default \"\"\n- sourceSheet: the sheet name this line came from\n\nRules:\n- Extract ALL order lines from ALL sheets\n- Pharmacy info may appear in metadata rows above the table — apply to all lines in that section\n- Multiple sections (REDOVNE ŠIFRE, GRATIS ŠIFRE) or pharmacies may appear — extract all\n- Gratis (free) is different from discount. Gratis items have codes starting with 9 (e.g. 930xxxx). Extract them normally with discount: 0\n- Skip: empty rows, section labels, column header rows\n- SKIP TOTALS: Rows labeled TOTAL, UKUPNO, or summary rows with aggregated numbers are NOT order lines. Never treat a totals row as a pharmacy or order.\n- Preserve exact quantities from source — never guess or sum across sheets\n- DEDUPLICATION: Multiple sheets may contain the SAME data in different layouts (e.g. a pivot table and a flat table). After extracting, deduplicate by (pharmacyId + drugCode) — if the same combination appears from multiple sheets, keep only one copy.\n- HALLUCINATION CHECK: Only output pharmacyIds and drugCodes that literally appear as cell values in the file. Never infer or compute IDs."
            }
          ]
        },
        "builtInTools": {
          "codeInterpreter": true
        },
        "options": {
          "maxTokens": 65536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2128,
        336
      ],
      "name": "LLM: Retry (64K)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 30000,
      "credentials": {
        "openAiApi": {
          "id": "KRVpI7DXsh84tzkO",
          "name": "OpenAi account"
        }
      },
      "id": "e42dda38-a115-45ca-8dbb-a0be05677111"
    },
    {
      "parameters": {
        "jsCode": "// Parse the extraction LLM response (single response, not chunked)\nconst data = $input.first().json;\nlet aiText = '';\n\ntry {\n  aiText = (typeof data.text === 'string' && data.text)\n    || (data.output && data.output.find(o => o.type === 'message')?.content?.[0]?.text)\n    || (data.output && data.output[0]?.content?.[0]?.text)\n    || '';\n  if (!aiText) throw new Error('Empty response from LLM');\n} catch (e) {\n  return [{ json: { matched: false, error: 'Failed to parse LLM response: ' + e.message, orderLines: [] } }];\n}\n\nlet jsonStr = aiText.trim();\nif (jsonStr.startsWith('```')) {\n  jsonStr = jsonStr.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '');\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  const match = jsonStr.match(/\\[[\\s\\S]*\\]/);\n  if (match) {\n    try { parsed = JSON.parse(match[0]); }\n    catch (e2) { return [{ json: { matched: false, error: 'Invalid JSON from LLM: ' + e.message, orderLines: [] } }]; }\n  } else {\n    return [{ json: { matched: false, error: 'No JSON array in LLM response', orderLines: [] } }];\n  }\n}\n\nif (!Array.isArray(parsed)) {\n  return [{ json: { matched: false, error: 'LLM did not return an array', orderLines: [] } }];\n}\n\nconst orderLines = parsed.map(line => ({\n  sourceSheet: line.sourceSheet || 'Sheet1',\n  sourceRow: null,\n  pharmacyId: line.pharmacyId || null,\n  pharmacyName: line.pharmacyName || null,\n  drugCode: line.drugCode ? String(line.drugCode) : null,\n  articleName: line.articleName ? String(line.articleName) : null,\n  quantity: Number(line.quantity) || 1,\n  unit: line.unit || 'kom',\n  discount: line.discount != null ? (Number(line.discount) || 0) : 0,\n  notes: line.notes || '',\n  parseMethod: 'AI_EXTRACTED',\n  rawData: line\n}));\n\nif (orderLines.length === 0) {\n  return [{ json: { matched: false, error: 'No order lines extracted', orderLines: [] } }];\n}\n\n// Build compact version for verification prompt (no rawData, saves tokens)\nconst compactLines = orderLines.map(l => ({\n  drugCode: l.drugCode,\n  articleName: l.articleName,\n  quantity: l.quantity,\n  unit: l.unit,\n  pharmacyId: l.pharmacyId,\n  pharmacyName: l.pharmacyName,\n  discount: l.discount,\n  sourceSheet: l.sourceSheet\n}));\n\n// Build verification prompt — LLM2 corrects data but must not change discount\nconst verifyPrompt = 'You are a data verification assistant for Croatian pharmacy pre-orders.\\n\\n'\n  + 'Use Python (pandas/openpyxl) to re-read the uploaded XLSX file independently. '\n  + 'Compare the source data against the extracted order lines below.\\n\\n'\n  + 'Check for:\\n'\n  + '- Wrong quantities (MOST CRITICAL \\u2014 must match source exactly; empty/blank qty = 1, not 0)\\n'\n  + '- Missing order lines (rows with product codes not extracted)\\n'\n  + '- Wrong drug codes or article names\\n'\n  + '- Wrong or missing pharmacy IDs (forward-fill from previous row if empty in grouped layouts)\\n'\n  + '- Hallucinated lines not in the source file\\n'\n  + '- Lines from ALL sheets, not just the first\\n'\n  + '- DUPLICATES: Same (pharmacyId + drugCode) from multiple sheets\\n'\n  + '- HALLUCINATED DATA: Verify every pharmacyId and drugCode actually appears as a cell value\\n'\n  + '- TOTALS ROWS: Totals/summary rows (UKUPNO, TOTAL) misinterpreted as order lines\\n\\n'\n  + 'IMPORTANT: Do NOT change the \"discount\" field in the JSON. Copy it exactly as-is from the extracted lines. Excel stores percentages as decimals (10% = 0.1) and the extraction already converted them to whole numbers. Do not \"correct\" them back.\\n\\n'\n  + 'Return ONLY a raw JSON object (no markdown, no explanation):\\n'\n  + '{\"lines\": [...corrected order lines...], \"issues\": [\"description of each change made\"], \"confidence\": <0-100>}\\n\\n'\n  + 'The lines array uses the same schema as below. The issues array describes each correction.\\n'\n  + 'The confidence field is your 0-100 estimate of extraction accuracy after verification.\\n'\n  + 'If everything is correct, return the lines unchanged with an empty issues array.\\n'\n  + 'Write the issues descriptions in Croatian.\\n\\n'\n  + 'Extracted order lines to verify:\\n'\n  + JSON.stringify(compactLines);\n\nreturn [{\n  json: {\n    matched: true,\n    parseConfidence: 70,\n    lineCount: orderLines.length,\n    orderLines: orderLines,\n    verifyPrompt: verifyPrompt\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        336
      ],
      "name": "Parse Retry Response",
      "id": "7a18fd3e-ae22-433e-b49d-ebcd56e72594"
    }
  ],
  "connections": {
    "Sub-Workflow Input": {
      "main": [
        [
          {
            "node": "Parse XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse XLSX": {
      "main": [
        [
          {
            "node": "Is NAOS Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Columns & Normalize": {
      "main": [
        [
          {
            "node": "Detection Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detection Succeeded?": {
      "main": [
        [],
        [
          {
            "node": "Re-attach XLSX Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM: Extract Order Lines": {
      "main": [
        [
          {
            "node": "Was Truncated?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "AI Extraction OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Extraction OK?": {
      "main": [
        [
          {
            "node": "LLM: Verify Extraction",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "LLM: Verify Extraction": {
      "main": [
        [
          {
            "node": "Parse Verified Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-attach XLSX Binary": {
      "main": [
        [
          {
            "node": "Upload XLSX to OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload XLSX to OpenAI": {
      "main": [
        [
          {
            "node": "Random Delay (0-10s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Delay (0-10s)": {
      "main": [
        [
          {
            "node": "LLM: Extract Order Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is NAOS Email?": {
      "main": [
        [
          {
            "node": "Check NAOS Format",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detect Columns & Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check NAOS Format": {
      "main": [
        [
          {
            "node": "Is NAOS Format?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is NAOS Format?": {
      "main": [
        [
          {
            "node": "Return NAOS Skip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detect Columns & Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Was Truncated?": {
      "main": [
        [
          {
            "node": "LLM: Retry (64K)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM: Retry (64K)": {
      "main": [
        [
          {
            "node": "Parse Retry Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": []
}
