workflows/test/medika-preorders/03_xlsx_parser.json
{
  "name": "[medika-preorders-test] WF-03: XLSX Parser",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "f3000000-0000-4000-8000-000000000001",
      "name": "Sub-Workflow Input"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        240,
        0
      ],
      "id": "f3000000-0000-4000-8000-000000000002",
      "name": "Parse XLSX"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst KNOWN_HEADERS = {\n  drugCode: ['šifra proizvoda', 'sifra proizvoda', 'šifra artikla', 'sifra artikla', 'artikl_sifra', 'drug_code', 'product_code', 'šifra', 'sifra', 'code', 'rbr'],\n  articleName: ['naziv proizvoda', 'naziv artikla', 'naziv_artikla', 'artikl', 'proizvod', 'opis', 'naziv', 'name', 'description'],\n  quantity: ['količina', 'kolicina', 'qty', 'kom', 'amount', 'naručeno', 'naruceno', 'kol'],\n  pharmacyId: ['šifra primatelja', 'sifra primatelja', 'šifra ljekarne', 'sifra ljekarne', 'ljekarna_id', 'pharmacy_id', 'id_ljekarne', 'kupac'],\n  pharmacyName: ['naziv ljekarne', 'naziv_ljekarne', 'kupac_naziv', 'naziv 1', 'ljekarna'],\n  unit: ['jedinica', 'mjera', 'jm', 'unit'],\n  discount: ['rabat', 'popust', 'discount'],\n  notes: ['napomena', 'komentar', 'notes', 'comment']\n};\n\nif (items.length === 0) {\n  return [{ json: { matched: false, error: 'No data in spreadsheet', orderLines: [] } }];\n}\n\n// Get ALL unique column headers across all rows (some rows may have extra columns)\nconst headerSet = new Set();\nfor (const item of items) {\n  for (const key of Object.keys(item.json)) {\n    headerSet.add(key);\n  }\n}\nconst headers = Array.from(headerSet);\nconst mapping = {};\nconst usedHeaders = new Set();\n\n// Normalize a header string\nfunction norm(s) {\n  return s.toLowerCase().trim().replace(/[^a-z0-9šđčćžs ]/gi, '').trim();\n}\n\n// Pass 1: exact matches only (longer patterns listed first = more specific)\nfor (const [field, patterns] of Object.entries(KNOWN_HEADERS)) {\n  if (mapping[field]) continue;\n  for (const header of headers) {\n    if (usedHeaders.has(header)) continue;\n    const normalized = norm(header);\n    if (patterns.some(p => normalized === p)) {\n      mapping[field] = header;\n      usedHeaders.add(header);\n      break;\n    }\n  }\n}\n\n// Pass 2: partial (includes) matches for remaining unmapped fields\nfor (const [field, patterns] of Object.entries(KNOWN_HEADERS)) {\n  if (mapping[field]) continue;\n  for (const header of headers) {\n    if (usedHeaders.has(header)) continue;\n    const normalized = norm(header);\n    if (patterns.some(p => normalized.includes(p))) {\n      mapping[field] = header;\n      usedHeaders.add(header);\n      break;\n    }\n  }\n}\n\nconst hasDrugId = mapping.drugCode || mapping.articleName;\nconst hasQuantity = mapping.quantity;\n\nif (!hasDrugId || !hasQuantity) {\n  // Rule-based detection failed — return raw data for AI fallback\n  return [{\n    json: {\n      matched: false,\n      headers: headers,\n      mapping: mapping,\n      rawData: items.map(item => item.json),\n      orderLines: []\n    }\n  }];\n}\n\n// Normalize to canonical format\nconst orderLines = items.map((item, idx) => {\n  const row = item.json;\n  const qty = mapping.quantity ? Number(row[mapping.quantity]) || 0 : 0;\n  if (qty <= 0) return null; // skip empty rows\n\n  return {\n    sourceSheet: 'Sheet1',\n    sourceRow: idx + 2,\n    pharmacyId: mapping.pharmacyId ? String(row[mapping.pharmacyId] || '') : null,\n    pharmacyName: mapping.pharmacyName ? String(row[mapping.pharmacyName] || '') : null,\n    drugCode: mapping.drugCode ? String(row[mapping.drugCode] || '') : null,\n    articleName: mapping.articleName ? String(row[mapping.articleName] || '') : null,\n    quantity: qty,\n    unit: mapping.unit ? String(row[mapping.unit] || 'kom') : 'kom',\n    discount: mapping.discount ? (Number(row[mapping.discount]) || 0) : null,\n    notes: mapping.notes ? String(row[mapping.notes] || '') : '',\n    parseMethod: 'RULE_BASED',\n    parseConfidence: 1.0,\n    rawData: row\n  };\n}).filter(Boolean);\n\nreturn [{\n  json: {\n    matched: true,\n    mapping: mapping,\n    lineCount: orderLines.length,\n    orderLines: orderLines\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "f3000000-0000-4000-8000-000000000003",
      "name": "Detect Columns & Normalize"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f3000000-cond-4000-8000-000000000001",
              "leftValue": "={{ $json.matched }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        0
      ],
      "id": "f3000000-0000-4000-8000-000000000004",
      "name": "Detection Succeeded?"
    },
    {
      "parameters": {
        "jsCode": "// Parse the extraction LLM response (single response, not chunked)\nconst data = $input.first().json;\nlet aiText = '';\n\ntry {\n  aiText = (typeof data.text === 'string' && data.text)\n    || (data.output && data.output.find(o => o.type === 'message')?.content?.[0]?.text)\n    || (data.output && data.output[0]?.content?.[0]?.text)\n    || '';\n  if (!aiText) throw new Error('Empty response from LLM');\n} catch (e) {\n  return [{ json: { matched: false, error: 'Failed to parse LLM response: ' + e.message, orderLines: [] } }];\n}\n\nlet jsonStr = aiText.trim();\nif (jsonStr.startsWith('```')) {\n  jsonStr = jsonStr.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '');\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  const match = jsonStr.match(/\\[[\\s\\S]*\\]/);\n  if (match) {\n    try { parsed = JSON.parse(match[0]); }\n    catch (e2) { return [{ json: { matched: false, error: 'Invalid JSON from LLM: ' + e.message, orderLines: [] } }]; }\n  } else {\n    return [{ json: { matched: false, error: 'No JSON array in LLM response', orderLines: [] } }];\n  }\n}\n\nif (!Array.isArray(parsed)) {\n  return [{ json: { matched: false, error: 'LLM did not return an array', orderLines: [] } }];\n}\n\nconst orderLines = parsed.map(line => ({\n  sourceSheet: line.sourceSheet || 'Sheet1',\n  sourceRow: null,\n  pharmacyId: line.pharmacyId || null,\n  pharmacyName: line.pharmacyName || null,\n  drugCode: line.drugCode ? String(line.drugCode) : null,\n  articleName: line.articleName ? String(line.articleName) : null,\n  quantity: Number(line.quantity) || 1,\n  unit: line.unit || 'kom',\n  discount: line.discount != null ? (Number(line.discount) || 0) : 0,\n  notes: line.notes || '',\n  parseMethod: 'AI_EXTRACTED',\n  parseConfidence: 0.7,\n  rawData: line\n}));\n\nif (orderLines.length === 0) {\n  return [{ json: { matched: false, error: 'No order lines extracted', orderLines: [] } }];\n}\n\n// Build compact version for verification prompt (no rawData, saves tokens)\nconst compactLines = orderLines.map(l => ({\n  drugCode: l.drugCode,\n  articleName: l.articleName,\n  quantity: l.quantity,\n  unit: l.unit,\n  pharmacyId: l.pharmacyId,\n  pharmacyName: l.pharmacyName,\n  discount: l.discount,\n  sourceSheet: l.sourceSheet\n}));\n\n// Build verification prompt with extracted data embedded\nconst verifyPrompt = 'You are a data verification assistant for Croatian pharmacy pre-orders.\\n\\n'\n  + 'Use Python (pandas/openpyxl) to re-read the uploaded XLSX file independently. '\n  + 'Compare the source data against the extracted order lines below.\\n\\n'\n  + 'Check for:\\n'\n  + '- Wrong quantities (MOST CRITICAL \\u2014 must match source exactly; empty/blank qty = 1, not 0)\\n'\n  + '- Missing order lines (rows with product codes not extracted)\\n'\n  + '- Wrong drug codes or article names\\n'\n  + '- Wrong pharmacy info\\n'\n  + '- Hallucinated lines not in the source file\\n'\n  + '- Lines from ALL sheets, not just the first\\n'\n  + '- DUPLICATES: Multiple sheets may show the same data in different layouts (e.g. pivot table vs flat table). Deduplicate by (pharmacyId + drugCode) \\u2014 keep only one copy.\\n'\n  + '- HALLUCINATED DATA: Use Python to verify every pharmacyId and drugCode in the extracted JSON actually appears as a cell value in the file. Remove any lines with IDs not found in the source.\\n'\n  + '- TOTALS ROWS: Verify no totals/summary rows (UKUPNO, TOTAL) were misinterpreted as order lines or pharmacies.\\n\\n'\n  + 'Return ONLY a corrected raw JSON array with the same schema. '\n  + 'No markdown fences, no explanation. If everything is correct, return the same array unchanged.\\n\\n'\n  + 'Extracted order lines to verify:\\n'\n  + JSON.stringify(compactLines);\n\nreturn [{\n  json: {\n    matched: true,\n    lineCount: orderLines.length,\n    orderLines: orderLines,\n    verifyPrompt: verifyPrompt\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        112
      ],
      "id": "f3000000-0000-4000-8000-000000000007",
      "name": "Parse AI Response"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "GPT-5.2"
        },
        "responses": {
          "values": [
            {
              "type": "file",
              "fileType": "fileId",
              "fileId": "={{ $('Upload XLSX to OpenAI').first().json.id }}"
            },
            {
              "role": "system",
              "content": "You are an expert data extraction assistant for Croatian pharmacy pre-orders.\n\nUse Python (pandas and openpyxl) to read the uploaded XLSX file and extract all order lines.\n\nInstructions:\n1. Read ALL sheets in the workbook\n2. Detect header rows by content (look for: šifra, artikl, naziv, količina, qty, kom, rabat, kupac, ljekarna, jm, kol, naručeno)\n3. Handle merged cells — unmerge and forward-fill values\n4. Extract every row that contains a product code (drugCode) or article name\n\nReturn ONLY a raw JSON array. No markdown fences, no explanation, no extra text.\n\nEach element must have this schema:\n{\"drugCode\": \"string or null\", \"articleName\": \"string or null\", \"quantity\": number, \"unit\": \"string\", \"pharmacyId\": \"string or null\", \"pharmacyName\": \"string or null\", \"discount\": number, \"notes\": \"string\", \"sourceSheet\": \"string\"}\n\nField details:\n- drugCode: product code string (e.g. \"3001234\" regular, \"9301234\" gratis) or null\n- articleName: product name string or null\n- quantity: exact number from quantity column. If the quantity cell is empty/blank, default to 1 — the product's presence in the sheet means it was ordered\n- unit: default \"kom\"\n- pharmacyId: 10-digit string starting with \"7700\" or null\n- pharmacyName: pharmacy name string or null\n- discount: percentage number (convert decimals: 0.12 → 12). Default 0\n- notes: default \"\"\n- sourceSheet: the sheet name this line came from\n\nRules:\n- Extract ALL order lines from ALL sheets\n- Pharmacy info may appear in metadata rows above the table — apply to all lines in that section\n- Multiple sections (REDOVNE ŠIFRE, GRATIS ŠIFRE) or pharmacies may appear — extract all\n- GRT prefix = gratis item, extract normally\n- Skip: empty rows, section labels, column header rows\n- SKIP TOTALS: Rows labeled TOTAL, UKUPNO, or summary rows with aggregated numbers are NOT order lines. Never treat a totals row as a pharmacy or order.\n- Preserve exact quantities from source — never guess or sum across sheets\n- DEDUPLICATION: Multiple sheets may contain the SAME data in different layouts (e.g. a pivot table and a flat table). After extracting, deduplicate by (pharmacyId + drugCode) — if the same combination appears from multiple sheets, keep only one copy.\n- HALLUCINATION CHECK: Only output pharmacyIds and drugCodes that literally appear as cell values in the file. Never infer or compute IDs."
            }
          ]
        },
        "builtInTools": {
          "codeInterpreter": true
        },
        "options": {
          "maxTokens": 16384
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1440,
        112
      ],
      "id": "2cc55bd5-0292-4f6b-8a71-c44469046829",
      "name": "LLM: Extract Order Lines",
      "credentials": {
        "openAiApi": {
          "id": "eD10IPhcxdI4yu0p",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "type": "file",
              "fileType": "fileId",
              "fileId": "={{ $('Upload XLSX to OpenAI').first().json.id }}"
            },
            {
              "role": "system",
              "content": "={{ $json.verifyPrompt }}"
            }
          ]
        },
        "builtInTools": {
          "codeInterpreter": true
        },
        "options": {
          "maxTokens": 16384
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2016,
        112
      ],
      "id": "f3000000-0000-4000-8000-000000000009",
      "name": "LLM: Verify Extraction",
      "credentials": {
        "openAiApi": {
          "id": "eD10IPhcxdI4yu0p",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the verification LLM response and produce final output\nconst data = $input.first().json;\nconst originalResult = $('Parse AI Response').first().json;\n\n// If extraction failed, pass through\nif (!originalResult.matched || !originalResult.orderLines || originalResult.orderLines.length === 0) {\n  return [{ json: originalResult }];\n}\n\nlet aiText = '';\ntry {\n  aiText = (typeof data.text === 'string' && data.text)\n    || (data.output && data.output.find(o => o.type === 'message')?.content?.[0]?.text)\n    || (data.output && data.output[0]?.content?.[0]?.text)\n    || '';\n  if (!aiText) throw new Error('Empty response');\n} catch (e) {\n  // Verification failed — fall back to original extraction\n  originalResult.verificationError = 'Failed to parse verification response: ' + e.message;\n  return [{ json: originalResult }];\n}\n\nlet jsonStr = aiText.trim();\nif (jsonStr.startsWith('```')) {\n  jsonStr = jsonStr.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '');\n}\n\nlet verified;\ntry {\n  verified = JSON.parse(jsonStr);\n} catch (e) {\n  const match = jsonStr.match(/\\[[\\s\\S]*\\]/);\n  if (match) {\n    try { verified = JSON.parse(match[0]); }\n    catch (e2) {\n      originalResult.verificationError = 'Invalid JSON from verification: ' + e.message;\n      return [{ json: originalResult }];\n    }\n  } else {\n    originalResult.verificationError = 'Invalid JSON from verification: ' + e.message;\n    return [{ json: originalResult }];\n  }\n}\n\nif (!Array.isArray(verified)) {\n  originalResult.verificationError = 'Verification did not return an array';\n  return [{ json: originalResult }];\n}\n\n// Build final order lines from verified data\nconst orderLines = verified.map(line => ({\n  sourceSheet: line.sourceSheet || 'Sheet1',\n  sourceRow: null,\n  pharmacyId: line.pharmacyId || null,\n  pharmacyName: line.pharmacyName || null,\n  drugCode: line.drugCode ? String(line.drugCode) : null,\n  articleName: line.articleName ? String(line.articleName) : null,\n  quantity: Number(line.quantity) || 1,\n  unit: line.unit || 'kom',\n  discount: line.discount != null ? (Number(line.discount) || 0) : 0,\n  notes: '',\n  parseMethod: 'AI_VERIFIED',\n  parseConfidence: 0.9,\n  rawData: line\n}));\n\nreturn [{\n  json: {\n    matched: orderLines.length > 0,\n    lineCount: orderLines.length,\n    parseMethod: 'AI_VERIFIED',\n    orderLines: orderLines\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        112
      ],
      "id": "f3000000-0000-4000-8000-000000000010",
      "name": "Parse Verified Response"
    },
    {
      "parameters": {
        "jsCode": "// The IF node drops binary data. Re-attach the original XLSX binary\n// from the Sub-Workflow Input trigger so the Upload node can use it.\nconst binary = $('Sub-Workflow Input').first().binary || {};\nconst detectResult = $input.first().json;\n\nif (!binary.data) {\n  throw new Error('No XLSX binary found on Sub-Workflow Input');\n}\n\nreturn [{\n  json: detectResult,\n  binary: { data: binary.data }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        112
      ],
      "id": "f3000000-0000-4000-8000-000000000011",
      "name": "Re-attach XLSX Binary"
    },
    {
      "parameters": {
        "resource": "file",
        "options": {
          "purpose": "user_data"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1216,
        112
      ],
      "id": "f3000000-0000-4000-8000-000000000012",
      "name": "Upload XLSX to OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "eD10IPhcxdI4yu0p",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Sub-Workflow Input": {
      "main": [
        [
          {
            "node": "Parse XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse XLSX": {
      "main": [
        [
          {
            "node": "Detect Columns & Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Columns & Normalize": {
      "main": [
        [
          {
            "node": "Detection Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detection Succeeded?": {
      "main": [
        [],
        [
          {
            "node": "Re-attach XLSX Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM: Extract Order Lines": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "LLM: Verify Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM: Verify Extraction": {
      "main": [
        [
          {
            "node": "Parse Verified Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-attach XLSX Binary": {
      "main": [
        [
          {
            "node": "Upload XLSX to OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload XLSX to OpenAI": {
      "main": [
        [
          {
            "node": "LLM: Extract Order Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": []
}
