workflows/test/medika-preorders/05_approval_gate.json
{
  "name": "[medika-preorders-test] WF-05: Send Order Notification",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "f5000000-0000-4000-8000-000000000001",
      "name": "Sub-Workflow Input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5-set-001",
              "name": "tokenType",
              "value": "graph_api",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        0
      ],
      "id": "f5000000-0000-4000-8000-000000000020",
      "name": "Set Token Type"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "a3WFhbGvOKzV81xE",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        480,
        0
      ],
      "id": "f5000000-0000-4000-8000-000000000021",
      "name": "WF-00b: Get Token"
    },
    {
      "parameters": {
        "jsCode": "// Build HTML notification for order submission results\nconst input = $('Sub-Workflow Input').first().json;\nconst lines = input.validatedLines || [];\nconst invalidLines = input.invalidLines || [];\nconst summary = input.summary || { valid: 0, invalid: 0, warnings: 0 };\nconst senderEmail = input.senderEmail || 'unknown';\nconst emailSubject = input.emailSubject || 'N/A';\nconst submissionResult = input.submissionResult || {};\n\n// Submission results banner\nconst success = submissionResult.submitted || false;\nconst bannerColor = success ? '#d4edda' : '#f8d7da';\nconst bannerTextColor = success ? '#155724' : '#721c24';\nconst statusText = success ? 'NARUDŽBA USPJEŠNO POSLANA' : 'SLANJE NARUDŽBE NEUSPJELO';\n\nlet html = `<div style=\"padding:12px 16px;background:${bannerColor};color:${bannerTextColor};border-radius:6px;margin-bottom:16px;font-weight:bold;\">`;\nhtml += statusText;\nif (submissionResult.orders && submissionResult.orders.length > 0) {\n  html += `<br>ID narudžbi: ${submissionResult.orders.map(o => o.orderId).join(', ')}`;\n}\nif (submissionResult.errors && submissionResult.errors.length > 0) {\n  html += `<br>Greške: ${submissionResult.errors.map(e => typeof e.error === 'string' ? e.error : (e.error && e.error.message) || JSON.stringify(e.error)).join('; ')}`;\n}\nconst missingDpIds = [...new Set(invalidLines.filter(l => !l.customer).map(l => l.pharmacyId).filter(Boolean))];\nif (missingDpIds.length > 0) {\n  html += `<br>NEDOSTAJU KUPCI ZA MJESTA ISPORUKE: ${missingDpIds.join(', ')}`;\n}\nhtml += `</div>`;\n\nhtml += `<h2>Obavijest o prednarudžbi</h2>`;\nhtml += `<p><strong>Od:</strong> ${senderEmail}<br>`;\nhtml += `<strong>Predmet:</strong> ${emailSubject}<br>`;\nhtml += `<strong>Redaka:</strong> ${lines.length} | `;\nhtml += `<strong>Ispravnih:</strong> ${summary.valid} | `;\nhtml += `<strong>Neispravnih:</strong> ${summary.invalid} | `;\nhtml += `<strong>S upozorenjima:</strong> ${summary.warnings}</p>`;\n\nhtml += `<table border=\"1\" cellpadding=\"5\" cellspacing=\"0\" style=\"border-collapse:collapse;font-size:13px;\">`;\nhtml += `<tr style=\"background:#f0f0f0;\"><th>#</th><th>Šifra ljekarne</th><th>Ljekarna</th><th>Šifra kupca</th><th>Šifra artikla</th><th>Naziv artikla</th><th>Kol.</th><th>Rabat</th><th>JM</th></tr>`;\n\nconst allLines = lines;\nfor (let i = 0; i < allLines.length; i++) {\n  const line = allLines[i];\n  const bgColor = !line.valid ? '#ffe0e0' :\n                  line.warnings && line.warnings.length > 0 ? '#fff3cd' :\n                  (line.parseMethod === 'AI_EXTRACTED' || line.parseMethod === 'AI_VERIFIED' || line.parseMethod === 'EMAIL_BODY_AI' || line.parseMethod === 'EMAIL_BODY_AI_VERIFIED') ? '#e0e7ff' : '#e0ffe0';\n\n  html += `<tr style=\"background:${bgColor};\">`;\n  html += `<td>${i + 1}</td>`;\n  html += `<td>${line.pharmacyId || line.deliveryPlace || '-'}</td>`;\n  html += `<td>${line.pharmacyName || line.deliveryPlaceName || '-'}</td>`;\n  html += `<td>${line.customer || '-'}</td>`;\n  html += `<td>${line.articleId || line.drugCode || '-'}</td>`;\n  html += `<td>${line.articleName || '-'}</td>`;\n  html += `<td>${line.quantity}</td>`;\n  html += `<td>${line.discount ? line.discount + '%' : '-'}</td>`;\n  html += `<td>${line.unit || 'kom'}</td>`;\n  html += `</tr>`;\n}\nhtml += `</table>`;\n\nif (summary.invalid > 0) {\n  html += `<p style=\"color:red;\"><strong>Upozorenje:</strong> ${summary.invalid} redak(a) ima greške validacije i preskočen(o) je.</p>`;\n}\n\nconst parseMethod = input.parseMethod || '';\nconst parseConfidence = input.parseConfidence || null;\nif (parseMethod === 'AI_EXTRACTED' || parseMethod === 'AI_VERIFIED' || parseMethod === 'EMAIL_BODY_AI' || parseMethod === 'EMAIL_BODY_AI_VERIFIED') {\n  const methodLabel = (parseMethod === 'AI_VERIFIED' || parseMethod === 'EMAIL_BODY_AI_VERIFIED') ? 'AI verificirano' : 'AI ekstrakcija (neprovjereno)';\n  const confText = parseConfidence ? ` — pouzdanost: ${parseConfidence}%` : '';\n  html += `<p style=\"color:#3b5998;\"><strong>Napomena:</strong> ${methodLabel}${confText} (AI redci označeni plavom).</p>`;\n}\n\n// Verification issues from AI\nconst verificationIssues = input.verificationIssues || [];\nif (verificationIssues.length > 0) {\n  html += `<div style=\"padding:8px 12px;background:#fff3cd;color:#856404;border-radius:4px;margin-top:12px;\">`;\n  html += `<strong>AI verifikacija pronašla ${verificationIssues.length} problem(a):</strong><ul style=\"margin:4px 0;\">`;\n  for (const issue of verificationIssues) {\n    html += `<li>${issue}</li>`;\n  }\n  html += `</ul></div>`;\n}\n\n// Original email body\nconst emailBodyHtml = input.emailBodyHtml || '';\nif (emailBodyHtml) {\n  html += `<hr style=\"margin:20px 0;\">`;\n  html += `<h3>Originalni email</h3>`;\n  html += `<blockquote style=\"border-left:3px solid #ccc;padding:8px 16px;margin:8px 0;color:#555;\">${emailBodyHtml}</blockquote>`;\n}\n\nconst binary = $('Sub-Workflow Input').first().binary || {};\n\nreturn [{\n  json: {\n    ...input,\n    notificationHtml: html\n  },\n  binary: binary\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        0
      ],
      "id": "f5000000-0000-4000-8000-000000000002",
      "name": "Build Order Notification"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build Graph API sendMail payload with all attachments\nconst item = $input.first();\nconst json = item.json;\nconst binary = item.binary || {};\nconst binaryKeys = Object.keys(binary);\n\nconst xlsxSuffix = json.xlsxFileName ? ` [${json.xlsxFileName}]` : '';\nconst subject = `Obavijest o prednarudžbi: ${json.senderEmail} (${json.lineCount} redaka)${xlsxSuffix} — ${json.receivedAt ? new Date(json.receivedAt).toLocaleDateString('hr-HR') : ''}`;\n\nconst message = {\n  subject,\n  body: { contentType: 'HTML', content: json.notificationHtml },\n  toRecipients: json.config.notifyEmail.split(',').map(e => ({ emailAddress: { address: e.trim() } }))\n};\n\nif (binaryKeys.length > 0) {\n  message.attachments = binaryKeys.map(key => {\n    const att = binary[key];\n    return {\n      '@odata.type': '#microsoft.graph.fileAttachment',\n      name: att.fileName || 'attachment',\n      contentType: att.mimeType || 'application/octet-stream',\n      contentBytes: att.data\n    };\n  });\n}\n\nreturn [{ json: { sendMailPayload: { message } } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        0
      ],
      "id": "f5000000-0000-4000-8000-000000000022",
      "name": "Prepare sendMail Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $env.MS_GRAPH_MAILBOX_SEND_TEST }}/sendMail",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('WF-00b: Get Token').first().json.accessToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.sendMailPayload) }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        0
      ],
      "id": "f5000000-0000-4000-8000-000000000023",
      "name": "Send Email",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    }
  ],
  "connections": {
    "Sub-Workflow Input": {
      "main": [
        [
          {
            "node": "Set Token Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Token Type": {
      "main": [
        [
          {
            "node": "WF-00b: Get Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-00b: Get Token": {
      "main": [
        [
          {
            "node": "Build Order Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Order Notification": {
      "main": [
        [
          {
            "node": "Prepare sendMail Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare sendMail Payload": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": []
}
