workflows/test/medika-preorders/05_approval_gate.json
{
  "name": "[medika-preorders-test] WF-05: Send Order Notification",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "f5000000-0000-4000-8000-000000000001",
      "name": "Sub-Workflow Input"
    },
    {
      "parameters": {
        "jsCode": "// Build HTML notification for order submission results\nconst input = $input.first().json;\nconst lines = input.validatedLines || [];\nconst invalidLines = input.invalidLines || [];\nconst summary = input.summary || { valid: 0, invalid: 0, warnings: 0 };\nconst senderEmail = input.senderEmail || 'unknown';\nconst emailSubject = input.emailSubject || 'N/A';\nconst submissionResult = input.submissionResult || {};\n\n// Submission results banner\nconst success = submissionResult.submitted || false;\nconst bannerColor = success ? '#d4edda' : '#f8d7da';\nconst bannerTextColor = success ? '#155724' : '#721c24';\nconst statusText = success ? 'ORDER SUBMITTED SUCCESSFULLY' : 'ORDER SUBMISSION FAILED';\n\nlet html = `<div style=\"padding:12px 16px;background:${bannerColor};color:${bannerTextColor};border-radius:6px;margin-bottom:16px;font-weight:bold;\">`;\nhtml += statusText;\nif (submissionResult.orders && submissionResult.orders.length > 0) {\n  html += `<br>Order IDs: ${submissionResult.orders.map(o => o.orderId).join(', ')}`;\n}\nif (submissionResult.errors && submissionResult.errors.length > 0) {\n  html += `<br>Errors: ${submissionResult.errors.map(e => e.error).join('; ')}`;\n}\nhtml += `</div>`;\n\nhtml += `<h2>Pre-Order Notification</h2>`;\nhtml += `<p><strong>From:</strong> ${senderEmail}<br>`;\nhtml += `<strong>Subject:</strong> ${emailSubject}<br>`;\nhtml += `<strong>Lines:</strong> ${lines.length} | `;\nhtml += `<strong>Valid:</strong> ${summary.valid} | `;\nhtml += `<strong>Invalid:</strong> ${summary.invalid} | `;\nhtml += `<strong>With Warnings:</strong> ${summary.warnings}</p>`;\n\nhtml += `<table border=\"1\" cellpadding=\"5\" cellspacing=\"0\" style=\"border-collapse:collapse;font-size:13px;\">`;\nhtml += `<tr style=\"background:#f0f0f0;\"><th>#</th><th>Pharmacy ID</th><th>Pharmacy</th><th>Customer ID</th><th>Article ID</th><th>Article Name</th><th>Qty</th><th>Unit</th></tr>`;\n\nconst allLines = [...lines, ...invalidLines];\nfor (let i = 0; i < allLines.length; i++) {\n  const line = allLines[i];\n  const bgColor = !line.valid ? '#ffe0e0' :\n                  line.warnings && line.warnings.length > 0 ? '#fff3cd' :\n                  line.parseMethod === 'AI_EXTRACTED' ? '#e0e7ff' : '#e0ffe0';\n\n  html += `<tr style=\"background:${bgColor};\">`;\n  html += `<td>${i + 1}</td>`;\n  html += `<td>${line.pharmacyId || line.deliveryPlace || '-'}</td>`;\n  html += `<td>${line.pharmacyName || line.deliveryPlaceName || '-'}</td>`;\n  html += `<td>${line.customer || '-'}</td>`;\n  html += `<td>${line.articleId || line.drugCode || '-'}</td>`;\n  html += `<td>${line.articleName || '-'}</td>`;\n  html += `<td>${line.quantity}</td>`;\n  html += `<td>${line.unit || 'kom'}</td>`;\n  html += `</tr>`;\n}\nhtml += `</table>`;\n\nif (summary.invalid > 0) {\n  html += `<p style=\"color:red;\"><strong>Warning:</strong> ${summary.invalid} line(s) have validation errors and were skipped.</p>`;\n}\n\nconst aiLines = allLines.filter(l => l.parseMethod === 'AI_EXTRACTED');\nif (aiLines.length > 0) {\n  html += `<p style=\"color:#3b5998;\"><strong>Note:</strong> ${aiLines.length} line(s) were extracted by AI (highlighted in blue).</p>`;\n}\n\n// Original email body\nconst emailBodyHtml = input.emailBodyHtml || '';\nif (emailBodyHtml) {\n  html += `<hr style=\"margin:20px 0;\">`;\n  html += `<h3>Original Email</h3>`;\n  html += `<blockquote style=\"border-left:3px solid #ccc;padding:8px 16px;margin:8px 0;color:#555;\">${emailBodyHtml}</blockquote>`;\n}\n\nconst binary = $input.first().binary || {};\nconst hasAttachment = !!(binary.data);\n\nreturn [{\n  json: {\n    ...input,\n    notificationHtml: html,\n    _hasAttachment: hasAttachment\n  },\n  binary: binary\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "f5000000-0000-4000-8000-000000000002",
      "name": "Build Order Notification"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f5000000-cond-4000-8000-000000000001",
              "leftValue": "={{ $json._hasAttachment }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "f5000000-0000-4000-8000-000000000010",
      "name": "Has Attachment?"
    },
    {
      "parameters": {
        "toRecipients": "={{ $json.config.notifyEmail }}",
        "subject": "=Pre-Order Notification: {{ $json.senderEmail }} ({{ $json.lineCount }} lines) — {{ $json.receivedAt ? new Date($json.receivedAt).toLocaleDateString('hr-HR') : '' }}",
        "bodyContent": "={{ $json.notificationHtml }}",
        "additionalFields": {
          "bodyContentType": "html",
          "attachments": {
            "attachments": [
              {
                "binaryPropertyName": "data"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        720,
        -100
      ],
      "id": "f5000000-0000-4000-8000-000000000003",
      "name": "Send With Attachment",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "jzzDNHXRz5JAGlpl",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "={{ $json.config.notifyEmail }}",
        "subject": "=Pre-Order Notification: {{ $json.senderEmail }} ({{ $json.lineCount }} lines) — {{ $json.receivedAt ? new Date($json.receivedAt).toLocaleDateString('hr-HR') : '' }}",
        "bodyContent": "={{ $json.notificationHtml }}",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        720,
        100
      ],
      "id": "f5000000-0000-4000-8000-000000000011",
      "name": "Send Without Attachment",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "jzzDNHXRz5JAGlpl",
          "name": "Microsoft Outlook account"
        }
      }
    }
  ],
  "connections": {
    "Sub-Workflow Input": {
      "main": [
        [
          {
            "node": "Build Order Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Order Notification": {
      "main": [
        [
          {
            "node": "Has Attachment?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Attachment?": {
      "main": [
        [
          {
            "node": "Send With Attachment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Without Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": []
}
