workflows/wireframe-comments/test/02_post_comment.json
{
  "name": "[wireframe-comments-test] WF-02: POST Comment",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-comments",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "wc-02-0000-0000-000000000001",
      "name": "Webhook",
      "webhookId": "wc-02-webhook-post",
      "credentials": {
        "httpHeaderAuth": {
          "id": "IfZ199KSAKOn5Cec",
          "name": "Feedback Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nreturn [{\n  json: {\n    project: body.project,\n    page: body.page,\n    x_pct: body.x_pct,\n    y_pct: body.y_pct,\n    comment: body.comment,\n    author: body.author,\n    parent_id: body.parent_id || null,\n    resolved: false,\n    created_at: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "wc-02-0000-0000-000000000002",
      "name": "Prepare Comment"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "qtv5AvJ1NJV7zA7H",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "wc-02-0000-0000-000000000003",
      "name": "Insert Comment"
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ],
      "id": "wc-02-0000-0000-000000000004",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Comment": {
      "main": [
        [
          {
            "node": "Insert Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Comment": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": []
}
